<div class="main">

    <!-- Sing in  Form -->
    <section class="sign-in" style="margin-top: 20px;">
        <div class="container">
            <br>
            <a href="/">
                <i class="fa fa-arrow-left icon-back-login fa-3x icon" aria-hidden="true"
                tooltip="{{'BACK_LOGIN' | translate}}"></i>
              </a>

            <div style=" text-align: right;
                margin-right:0.5cm;">
                <div style="position: relative; left: -5px; top:-30px">
                    <app-navbar></app-navbar>
                </div>

            </div>
            <div class="signin-content">
                <div class="signin-image" style="margin-top: -20px;">
                    <figure>
                        <img src="../../../assets/images/badgeGo-icon.svg"
                            alt="sing up image">
                    </figure>

                </div>

                <div class="signin-form">
                    <h2 class="form-title" style="white-space:prewrap;font-size: 29px;">{{"FORGOT_PASSWORD" | translate}}</h2>
                    <form
                    [formGroup]="Form"
                       class="register-form"
                        id="login-form">

                        <div class="form-group" style="margin-top: -15px;">
                            <h4>{{"MSG_FORGOT_PASSWORD" | translate}}</h4>
                        </div>
                        <div class="form-group" >
                            <label for="username"><i class="fa fa-user"
                                    aria-hidden="true"></i></label> <input
                                formControlName="email"
                                type="text" name="username" id="username"
                                placeholder="name@example.com" />

                                <div class="text-danger"
                                *ngIf="Form.get('email')?.hasError('required') &&
                                Form.get('email')?.touched" style="text-align:
                                left;font-family: Arial;">
                                <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                              </div>

                        </div>


                          <br>
                           <br>
                        <div class="form-button" style="margin-top: -15px;">
                            <input type="submit" name="signin" id="signin"
                                class="form-submit"
                                value="{{'SEND_EMAIL' | translate}}"
                                (click)="ForgotPassword()"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div style="text-align: center;width: 100%; margin-top: 0.5cm;
        color: #8cc4cb;">
        <br>
        <h4>© 2023  Copyright: badgeGo</h4>
    </div>

</div>

