<div class="main">

    <!-- Sing in  Form -->
    <section class="sign-in" style="margin-top: 20px;">
        <div class="container">
            <br>

            <div style=" text-align: right;
                margin-right:1cm;">
                <div style="position: relative; left: -80px;">
                    <app-navbar></app-navbar>
                </div>

            </div>
            <div class="signin-content">
                <div class="signin-image">
                    <figure>
                        <img src="../../../assets/images/badgeGo-icon.svg"
                            alt="sing up image">
                    </figure>

                </div>

                <div class="signin-form">
                    <h2 class="form-title" style="white-space: nowrap;font-size: 29px; margin-top: 30px;">Reset Password</h2>
                    <form
                       class="register-form"
                        id="login-form">

                        <div class="form-group">
                            <h4>Enter your email to send a message</h4>
                        </div>
                        <div class="form-group" >
                            <label for="username"><i class="fa fa-user"
                                    aria-hidden="true"></i></label> <input
                                formControlName="email"
                                type="text" name="username" id="username"
                                placeholder="name@example.com" />
                        </div>


                          <br>
                           <br>
                        <div class="form-button" style="margin-top:5px;">
                            <input type="submit" name="signin" id="signin"
                                class="form-submit"
                                value="Send Email"
                                 />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div style="text-align: center;width: 100%; margin-top: 0.5cm;
        color: #8cc4cb;">
        <br>
        <h4>© 2022 Copyright: badgeGo</h4>
    </div>

</div>

