.accessible-artifacts-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
}

.accessible-artifacts-table thead {
	background-color: #801f1f;
}

.accessible-artifacts-table thead th {
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.accessible-artifacts-table tbody {
	font-size: 14px;
}

.accessible-artifacts-table tbody td {
	font-size: 14px;
	padding: 10px;
	text-align: left;
}
h6 {
    font-size: 16px;
}

h5 {
    font-size: 16px;
}
.progress-bar{
    background-color: #0d6efd;
    border: 2px solid rgb(8, 104, 148);
    color: white;
}
