
<div>
    <mat-stepper [linear]="false" #stepper [selectedIndex]="currentStep">
        <mat-step>
            <div class="main-step">
                <br>
                <h1 style="font-weight: bolder;">{{"WELCOME_MESSAGE" |
                    translate}}</h1>
                <img src="../../../../assets/images/badgeGo-icon.svg"
                    alt="" srcset=""
                    width="250" height="250">
                <p>{{"INSTRUCTIONS_TUTORIAL" | translate}}</p>
            </div>
            <div>
                <button mat-raised-button  color="primary" (click)="click()">{{"BTN_NEXT"
                    | translate}}</button>
            </div>
        </mat-step>
        <mat-step label="{{'WHATABOUT' | translate}}">
            <p style="font-weight: bolder; text-align: center; font-size:
                18px; margin-top: 20px;">{{'WHATABOUT' | translate}}</p>
            <br>
            <p style="font-weight: bold;">{{"WHATABOUT01" | translate}}</p>
            <p>{{"WHATABOUT02" | translate}}</p>

            <button
                type="button"
                class="btn btn-primary"
                tooltip='{{ "REGISTER_EXPERIMENT" | translate }}'>
                <i class="fa fa-plus"></i>
                {{ "OPT_REGISTER" | translate }}
            </button>
            <br>
            <br>
            <p>{{"WHATABOUT03" | translate}}</p>
            <button
                tooltip="{{ 'EXP_EDIT' |
                translate }}"
                placement="top"
                title
                class="btn btn-warning me-1">
                <i class="fa fa-edit"></i>
            </button>
            <br>
            <br>
            <p>{{"WHATABOUT04" | translate}}</p>

            <button
                tooltip="{{
                'CLICK_EXPERIMENT' |
                translate
                }}"
                placement="top"
                title
                class="btn btn-success me-1">
                <i class="fa fa-check"
                    aria-hidden="true"></i>
            </button>

            <div style="margin-top: 20px;">
                <button mat-raised-button matStepperPrevious
                    color="primary" style="margin-right: 10px;">{{"BTN_BACK"
                    | translate}}</button>
                <button mat-raised-button matStepperNext color="primary">{{"BTN_NEXT"
                    | translate}}</button>
            </div>
        </mat-step>
        <mat-step label="{{'HOWCREATEEXPERIMENT' | translate}}">
            <br>
            <p style="font-weight: bolder; text-align: center; font-size:
                18px;">{{'HOWCREATEEXPERIMENT' | translate}}</p>
            <br>
            <div style="text-align: center;">

                <iframe src="https://utneduec-my.sharepoint.com/personal/jacarcelenb_utn_edu_ec/_layouts/15/Doc.aspx?sourcedoc={d374d2b3-d70b-45b7-89f4-2925e444808f}&amp;action=embedview&amp;wdAr=1.3333333333333333" width="476px" height="288px" frameborder="0">Esto es un documento de <a target="_blank" href="https://office.com">Microsoft Office</a> incrustado con tecnología de <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>

            </div>



            <div>
                <button mat-raised-button matStepperPrevious
                    color="primary" style="margin-right: 10px;">{{"BTN_BACK"
                    | translate}}</button>
                <button mat-raised-button matStepperNext color="primary">{{"BTN_NEXT"
                    | translate}}</button>
            </div>
        </mat-step>
        <mat-step label="{{'THINGSTOKNOW' | translate}}">
            <br>
            <p style="font-weight: bolder; text-align: center; font-size:
                18px; margin-top: 20px;">{{'THINGSTOKNOW' | translate}}</p>
            <br>
            <p>{{"THINGSTOKNOW01" | translate}}</p>
            <div style="text-align: center;">
                <video src="../../../../assets/images/HelpOption.mp4"
                    width="520" height="300"
                    controls></video>
            </div>
            <p>{{"THINGSTOKNOW02" | translate}}</p>
            <div style="text-align: center;">
                <video
                    src="../../../../assets/images/ExperimentCompleted.mp4"
                    width="520" height="300"
                    controls></video>
            </div>
            <div>
                <button mat-raised-button matStepperPrevious
                    color="primary" style="margin-right: 10px;">{{"BTN_BACK"
                    | translate}}</button>
                <button mat-raised-button matStepperNext color="primary">{{"BTN_NEXT"
                    | translate}}</button>
            </div>
        </mat-step>
        <!--Info Experimenter-->
        <mat-step label="{{'WHATABOUT' | translate}}">
            <p style="font-weight: bolder; text-align: center; font-size:
                18px; margin-top: 20px;">{{'WHATABOUT' | translate}}</p>
            <p style="font-weight: bold;">{{"WHATABOUT_EXPERIMENTER" |
                translate}}</p>
            <p>{{"ADD_BUTTON_INFO" | translate}}</p>
            <button
                type="button"
                class="btn btn-primary"
                tooltip='{{ "EXPERIMENTER_ADD" | translate }}'>
                <i class="fa fa-plus"></i>
                {{ "WORD_ADD" | translate }}
            </button>
            <br>
            <br>
            <p>{{"UPDATE_BUTTON_INFO" | translate}}</p>
            <button
                tooltip="{{ 'WORD_UPDATE' |
                translate }}"
                placement="top"
                title
                class="btn btn-warning me-1">
                <i class="fa fa-edit"></i>
            </button>
            <br>
            <br>
            <p>{{"CONNECT_BUTTON_INFO" | translate}}</p>
            <button
                tooltip="{{
                'WORD_CONNECT_LABEL' |
                translate
                }}"
                placement="top"
                title
                class="btn btn-success me-1">
                {{"WORD_CONNECT" | translate}}
            </button>

            <div style="margin-top: 20px;">
                <button mat-raised-button matStepperPrevious
                    color="primary" style="margin-right: 10px;">{{"BTN_BACK"
                    | translate}}</button>
                <button mat-raised-button matStepperNext color="primary">{{"BTN_NEXT"
                    | translate}}</button>
            </div>
        </mat-step>

        <!--Info Group-->
        <mat-step label="{{'WHATABOUT' | translate}}">
            <p style="font-weight: bolder; text-align: center; font-size:
                18px; margin-top: 20px;">{{'WHATABOUT' | translate}}</p>
            <p style="font-weight: bold;">{{"WHATABOUT_GROUP" | translate}}</p>
            <p>{{"ADD_BUTTON_GROUP" | translate}}</p>
            <button
                type="button"
                class="btn btn-primary">
                <i class="fa fa-plus"></i>
                {{ "WORD_ADD" | translate }}
            </button>
            <br>
            <br>
            <p>{{"UPDATE_BUTTON_GROUP" | translate}}</p>
            <button
                title
                class="btn btn-warning me-1">
                <i class="fa fa-edit"></i>
            </button>
            <br>
            <br>
            <p>{{"DELETE_BUTTON_GROUP" | translate}}</p>
            <button
                title
                class="btn btn-danger me-1">
                <i class="fa fa-trash"></i>
            </button>

            <div style="margin-top: 20px;">
                <button mat-raised-button matStepperPrevious
                    color="primary" style="margin-right: 10px;">{{"BTN_BACK"
                    | translate}}</button>
                <button mat-raised-button matStepperNext color="primary">{{"BTN_NEXT"
                    | translate}}</button>
            </div>
        </mat-step>

        <!--Info Tasks-->

        <mat-step label="{{'WHATABOUT' | translate}}">
            <p style="font-weight: bolder; text-align: center; font-size:
                18px; margin-top: 20px;">{{'WHATABOUT' | translate}}</p>
            <p style="font-weight: bold;">{{"WHATABOUT_TASK" | translate}}</p>
            <br>
            <p>{{"UPLOAD_BUTTON_ARTIFACT" | translate}}</p>

            <button
                type="button"
                class="btn btn-primary mx-1">
                <i class="fa fa-cloud-upload"></i>
            </button>
            <br>
            <p>{{"ADD_BUTTON_TASK" | translate}}</p>
            <button
                type="button"
                class="btn btn-primary">
                <i class="fa fa-plus"></i>
                {{ "WORD_ADD" | translate }}
            </button>
            <br>
            <br>
            <p>{{"UPDATE_BUTTON_TASK" | translate}}</p>
            <button

                class="btn btn-warning me-1">
                <i class="fa fa-edit"></i>
            </button>
            <br>
            <br>
            <p>{{"DELETE_BUTTON_TASK" | translate}}</p>
            <button
                title
                class="btn btn-danger me-1">
                <i class="fa fa-trash"></i>
            </button>

            <div style="margin-top: 20px;">
                <button mat-raised-button matStepperPrevious
                    color="primary" style="margin-right: 10px;">{{"BTN_BACK"
                    | translate}}</button>
                <button mat-raised-button matStepperNext color="primary">{{"BTN_NEXT"
                    | translate}}</button>
            </div>
        </mat-step>

        <!--Info Artifacts-->
        <mat-step label="{{'WHATABOUT' | translate}}">
            <p style="font-weight: bolder; text-align: center; font-size:
                18px; margin-top: 20px;">{{'WHATABOUT' | translate}}</p>
            <p style="font-weight: bold;">{{"WHATABOUT_ARTIFACT" | translate}}</p>
            <br>
            <p>{{"UPLOAD_BUTTON_ARTIFACT" | translate}}</p>
            <button
                type="button"
                class="btn btn-success mx-1">{{ "ARTIFACT_UPLOAD" | translate }}
                <i class="fa fa-cloud-upload"></i>
            </button>
            <br>
            <p>{{"DOWNLOAD_BUTTON_ARTIFACT" | translate}}</p>
            <button
                type="button"
                class="btn btn-primary">
                <i class="fa fa-download"></i>
            </button>
            <br>
            <br>
            <p>{{"UPDATE_BUTTON_ARTIFACT" | translate}}</p>
            <button

                class="btn btn-warning me-1">
                <i class="fa fa-edit"></i>
            </button>
            <br>
            <br>
            <p>{{"DELETE_BUTTON_ARTIFACT" | translate}}</p>
            <button
                title
                class="btn btn-danger me-1">
                <i class="fa fa-trash"></i>
            </button>

            <div style="margin-top: 20px;">
                <button mat-raised-button matStepperPrevious
                    color="primary" style="margin-right: 10px;">{{"BTN_BACK"
                    | translate}}</button>
                <button mat-raised-button matStepperNext color="primary">{{"BTN_NEXT"
                    | translate}}</button>
            </div>
        </mat-step>

        <!--Info ACM Artifacts-->
        <mat-step label="{{'WHATABOUT' | translate}}">
            <p style="font-weight: bolder; text-align: center; font-size:
                18px; margin-top: 20px;">{{'WHATABOUT' | translate}}</p>
            <p style="font-weight: bold;">{{"WHATABOUT_ARTIFACT" | translate}}</p>
            <br>
            <p>{{"UPLOAD_BUTTON_ARTIFACT" | translate}}</p>
            <button
                type="button"
                class="btn btn-info mx-1">{{ "ARTIFACT_UPLOAD" | translate }}
                <i class="fa fa-cloud-upload"></i>
            </button>
            <br>
            <p>{{"DOWNLOAD_BUTTON_ARTIFACT" | translate}}</p>
            <button
                type="button"
                class="btn btn-primary">
                <i class="fa fa-download"></i>
            </button>
            <br>
            <br>
            <p>{{"UPDATE_BUTTON_ARTIFACT" | translate}}</p>
            <button

                class="btn btn-warning me-1">
                <i class="fa fa-edit"></i>
            </button>
            <br>
            <br>
            <p>{{"DELETE_BUTTON_ARTIFACT" | translate}}</p>
            <button
                title
                class="btn btn-danger me-1">
                <i class="fa fa-trash"></i>
            </button>

            <div style="margin-top: 20px;">
                <button mat-raised-button matStepperPrevious
                    color="primary" style="margin-right: 10px;">{{"BTN_BACK"
                    | translate}}</button>
                <button mat-raised-button matStepperNext color="primary">{{"BTN_NEXT"
                    | translate}}</button>
            </div>
        </mat-step>

        <!--Info Labpack-->
        <mat-step label="{{'WHATABOUT' | translate}}">
            <p style="font-weight: bolder; text-align: center; font-size:
                18px; margin-top: 20px;">{{'WHATABOUT' | translate}}</p>
            <p style="font-weight: bold;">{{"WHATABOUT_LABPACK" | translate}}</p>
            <br>
            <p>{{"ADD_BUTTON_LABPACK" | translate}}</p>
            <button
                style="width: 3.5cm; text-align: center;"
                type="button" #createModal class="btn btn-primary" >{{ "WORD_ADD" | translate }}
                  <i class="fa fa-plus"></i>
                </button>
            <br>
            <br>
            <p>{{"UPDATE_BUTTON_LABPACK" | translate}}</p>
            <button
                class="btn btn-warning me-1">
                <i class="fa fa-edit"></i>
            </button>
            <br>
            <br>
            <p>{{"GENERATE_BUTTON_LABPACK" | translate}}</p>
            <button
            class="btn btn-primary me-1">
            <i class="fa fa-file-archive-o"></i>
          </button>
            <div style="margin-top: 20px;">
                <button mat-raised-button matStepperPrevious
                    color="primary" style="margin-right: 10px;">{{"BTN_BACK"
                    | translate}}</button>
                <button mat-raised-button matStepperNext color="primary">{{"BTN_NEXT"
                    | translate}}</button>
            </div>
        </mat-step>

    </mat-stepper>
</div>