<!-- Modal  -->
<div
  class="modal fade letter"
  id="createTaskModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b>{{ task_id ? ("TASK_EDIT" | translate) : ("TASK_ADD" | translate)
            }}</b>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          #closeTaskCreateModal
          aria-label="Close"
          (click)="resetDuration()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col center">
            <!-- <img src="../../../assets/images/store.svg" alt="" class="pb-4" style="width: 20%;"> -->
          </div>
        </div>
        <div class="row">
          <div class="col mx-auto fadeInDown">
            <form
              *ngIf="active"
              #addTaskForm="ngForm"
              [formGroup]="taskForm"
              (ngSubmit)="save()">
              <div class="submit-form">
                <div class="form-group mt-3">
                  <label for="name">{{ "WORD_NAME" | translate }} *</label>
                  <input
                    class="form-control"
                    id="name"
                    formControlName="name"
                    [ngClass]="{'invalidField':
                    taskForm.get('name')?.hasError('required') &&
                    taskForm.get('name')?.touched
                    ,'correctField':taskForm.get('name')?.hasError('required')==false}" />
                  <div class="text-danger"
                    *ngIf="taskForm.get('name')?.hasError('required') &&
                  taskForm.get('name')?.touched">
                    <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                  </div>
                  <div class="text-success"
                    *ngIf="taskForm.get('name')?.hasError('required')==
                  false">
                    <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                  </div>
                </div>
                <div class="form-group" *ngIf="change_language== false">
                  <label for="title">{{ "WORD_RESPONSIBLE" | translate }} *</label>
                  <select
                    id="inputState"
                    formControlName="responsible"
                    class="form-control"
                    [ngClass]="{'invalidField':
                    taskForm.get('responsible')?.hasError('required') &&
                    taskForm.get('responsible')?.touched
                    ,'correctField':taskForm.get('responsible')?.hasError('required')==false}">
                    <option value>{{ "WORD_SELECT_ONE" | translate }}</option>
                    <option
                      *ngFor="let role of experimenterRoles"
                      [value]="role._id">
                      {{ role.name }}
                    </option>
                  </select>
                </div>

                <div class="form-group" *ngIf="change_language== true">
                  <label for="title">{{ "WORD_RESPONSIBLE" | translate }} *</label>
                  <select
                    id="inputState"
                    formControlName="responsible"
                    class="form-control"
                    [ngClass]="{'invalidField':
                    taskForm.get('responsible')?.hasError('required') &&
                    taskForm.get('responsible')?.touched
                    ,'correctField':taskForm.get('responsible')?.hasError('required')==false}">
                    <option value>{{ "WORD_SELECT_ONE" | translate }}</option>
                    <option
                      *ngFor="let role of experimenterRoles"
                      [value]="role._id">
                      {{ role.eng_name }}
                    </option>
                  </select>
                </div>

                <div class="text-danger"
                  *ngIf="taskForm.get('responsible')?.hasError('required') &&
                taskForm.get('responsible')?.touched">
                  <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                </div>
                <div class="text-success"
                  *ngIf="taskForm.get('responsible')?.hasError('required')==
                false">
                  <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                </div>
                <div class="form-group" *ngIf="change_language==false">
                  <label for="title">{{ "TASK_TYPE" | translate }} *</label>
                  <select
                    id="inputState"
                    formControlName="task_type"
                    class="form-control"
                    [ngClass]="{'invalidField':
                    taskForm.get('task_type')?.hasError('required') &&
                    taskForm.get('task_type')?.touched
                    ,'correctField':taskForm.get('task_type')?.hasError('required')==false}">
                    <option value>{{ "WORD_SELECT_ONE" | translate }}</option>
                    <option
                      *ngFor="let taskType of taskTypes"
                      [value]="taskType._id">
                      {{ taskType.name }}
                    </option>
                  </select>
                </div>

                <div class="form-group" *ngIf="change_language==true">
                  <label for="title">{{ "TASK_TYPE" | translate }} *</label>
                  <select
                    id="inputState"
                    formControlName="task_type"
                    class="form-control"
                    [ngClass]="{'invalidField':
                    taskForm.get('task_type')?.hasError('required') &&
                    taskForm.get('task_type')?.touched
                    ,'correctField':taskForm.get('task_type')?.hasError('required')==false}">
                    <option value>{{ "WORD_SELECT_ONE" | translate }}</option>
                    <option
                      *ngFor="let taskType of taskTypes"
                      [value]="taskType._id">
                      {{ taskType.eng_name }}
                    </option>
                  </select>
                </div>

                <div class="text-danger"
                  *ngIf="taskForm.get('task_type')?.hasError('required') &&
                taskForm.get('task_type')?.touched">
                  <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                </div>
                <div class="text-success"
                  *ngIf="taskForm.get('task_type')?.hasError('required')==
                false">
                  <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <label for="start_date">{{ "WORD_START" | translate }} *</label>
                    <input
                      type="date"
                      class="form-control"
                      id="start_date"
                      formControlName="start_date"
                      [ngClass]="{'invalidField':
                      taskForm.get('start_date')?.hasError('required') &&
                      taskForm.get('start_date')?.touched
                      ,'correctField':taskForm.get('start_date')?.hasError('required')==false
                      ,'incorrectDate':validateDate }"
                      (change)="ValidateDate()" />

                    <div class="text-danger"
                      *ngIf="taskForm.get('start_date')?.hasError('required') &&
                    taskForm.get('start_date')?.touched  && validateDate== false">
                      <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                    </div>

                    <div class="text-danger"
                      *ngIf="validateDate == true">
                      <span><strong>{{"VALIDATE_DATE_01" | translate}} *</strong></span>
                    </div>
                    <div class="text-success"
                      *ngIf="taskForm.get('start_date')?.hasError('required')==
                    false && validateDate == false">
                      <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                    </div>

                  </div>
                  <div class="col form-group">
                    <label for="end_date">{{ "WORD_END" | translate }} *</label>
                    <input
                      type="date"
                      class="form-control"
                      id="end_date"
                      formControlName="end_date"
                      [ngClass]="{'invalidField':
                      taskForm.get('end_date')?.hasError('required') &&
                      taskForm.get('end_date')?.touched
                      ,'correctField':taskForm.get('end_date')?.hasError('required')==false
                      ,'incorrectDate':validateDate }"
                      (change)="ValidateDate()" />

                    <div class="text-danger"
                      *ngIf="taskForm.get('end_date')?.hasError('required') &&
                    taskForm.get('end_date')?.touched  && validateDate== false">
                      <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                    </div>

                    <div class="text-danger"
                      *ngIf="validateDate == true">
                      <span><strong>{{"VALIDATE_DATE_01" | translate}} *</strong></span>
                    </div>
                    <div class="text-success"
                      *ngIf="taskForm.get('end_date')?.hasError('required')==
                    false && validateDate == false">
                      <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <app-input-time #InputTime></app-input-time>
                </div>
                <div class="form-group">
                  <label for="description">{{ "WORD_DESCRIPTION" | translate }}
                    *</label>
                  <textarea
                    class="form-control"
                    id="description"
                    formControlName="description"
                    [ngClass]="{'invalidField':
                    taskForm.get('description')?.hasError('required') &&
                    taskForm.get('description')?.touched
                    ,'correctField':taskForm.get('description')?.hasError('required')==false}"
                    rows="3"></textarea>

                  <div class="text-danger"
                    *ngIf="taskForm.get('description')?.hasError('required') &&
                  taskForm.get('description')?.touched">
                    <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                  </div>
                  <div class="text-success"
                    *ngIf="taskForm.get('description')?.hasError('required')==
                  false">
                    <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                  </div>
                </div>

                <div class="form-group">

                  <span style="font-weight: bolder; color: black;
                  margin-top: 10px; margin-left: 3px;"><strong>{{"MESSAGE_QUESTION"
                      | translate}}</strong></span>

                  <label for="needsArtifact">{{ "NEEDS_ARTIFACTS_MSG" |
                    translate }}</label>
                  <br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input"
                      formControlName="needsArtifact" type="radio" id="yes" #yes
                      (change)="onChange(true)" [checked]="isChecked">
                    <label class="form-check-label" for="yes">{{"WORD_YES" |
                      translate}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="no" #no
                      (change)="onChange(false)" [checked]="!isChecked">
                    <label class="form-check-label" for="no">{{"WORD_NO" |
                      translate}}</label>
                  </div>
                </div>
                <button
                  type="submit"
                  [disabled]="!addTaskForm.form.valid"
                  class="btn btn-success mt-3">
                  {{ "WORD_SAVE" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
