<a style="color:#111599;
  cursor:pointer;font-weight: 500;text-decoration: none;"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal1"
  (click)="cleanFields()">{{"CLICK_HERE" | translate}}</a>


<!-- Modal -->
<div
  class="modal fade letter"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px;
          color: black;">{{ "SIGN_UP" | translate }}</h5>
        <button
          type="button"
          #closeRegisterModal
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mx-auto fadeInDown">
            <form [formGroup]="registerForm">
              <div class="submit-form">
                <div class="form-group">
                  <div style="text-align:left;">
                    <label for="identification">{{"WORD_IDENTIFICATION" |
                      translate}} *</label>
                  </div>
                  <input type="text" class="form-control" id="identification"
                    name="identification"
                    formControlName="identification" required
                    [ngClass]="{'invalidField':
                    registerForm.get('identification')?.hasError('required')
                    &&
                    registerForm.get('identification')?.touched ||  registerForm.get('identification')?.value.length > 0 && registerForm.get('identification')?.valid == false
                    ,'correctField':registerForm.get('identification')?.hasError('required')==false
                    &&  registerForm.get('identification')?.valid == true}"/>



                    <div class="text-danger"
                    *ngIf=" registerForm.get('identification')?.hasError('required')
                    && registerForm.get('identification')?.valid== false && registerForm.get('identification')?.touched" style="text-align:left;">
                    <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                  </div>
                  <div class="text-danger"
                    *ngIf=" registerForm.get('identification')?.value.length> 0
                    && registerForm.get('identification')?.valid== false && registerForm.get('identification')?.touched" style="text-align:left;">
                    <span><strong>{{"MSG_DNI_ERROR" | translate}} *</strong></span>
                  </div>
                  <div class="text-success"
                    *ngIf="registerForm.get('identification')?.hasError('required')==
                    false && registerForm.get('identification')?.valid == true" style="text-align:left;">
                    <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                  </div>
                </div>
                <div class="form-group">
                  <div style="text-align:left;">
                    <label for="name">{{ "WORD_NAMES_AND_LASTNAMES" | translate
                      }}
                      *</label>
                  </div>

                  <input type="text" class="form-control" name="full_name"
                    formControlName="full_name"

                    [ngClass]="{'invalidField':
                    registerForm.get('full_name')?.hasError('required')
                    &&
                    registerForm.get('full_name')?.touched ||  registerForm.get('full_name')?.value.length > 0 && registerForm.get('full_name')?.valid == false
                    ,'correctField':registerForm.get('full_name')?.hasError('required')==false
                    &&  registerForm.get('full_name')?.valid == true}"
                    />

                  <div class="text-danger"
                    *ngIf=" registerForm.get('full_name')?.value.length> 0
                    && registerForm.get('full_name')?.valid== false" style="text-align:left;">
                    <span><strong>{{"ONLY_LETTERS" | translate}}</strong></span>
                  </div>
                  <div class="text-success"
                    *ngIf="registerForm.get('full_name')?.hasError('required')==
                    false && registerForm.get('full_name')?.valid == true" style="text-align:left;">
                    <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                  </div>
                </div>
                <div class="form-group">
                  <div style="text-align:left;">
                    <label for="email">{{ "WORD_EMAIL" | translate }} *</label>
                  </div>

                  <input type="email" class="form-control" name="email"
                    formControlName="email"
                    [ngClass]="{'invalidField':
                    registerForm.get('email')?.hasError('required')
                    &&
                    registerForm.get('email')?.touched ||  registerForm.get('email')?.value.length > 0 && registerForm.get('email')?.valid == false
                    ,'correctField':registerForm.get('email')?.hasError('required')==false
                    &&  registerForm.get('email')?.valid == true}"
                    />
                    <div class="text-danger"
                    *ngIf=" registerForm.get('email')?.hasError('required')
                    && registerForm.get('email')?.valid== false && registerForm.get('email')?.touched" style="text-align:left;">
                    <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                  </div>
                  <div class="text-success"
                    *ngIf="registerForm.get('email')?.hasError('required')==
                    false && registerForm.get('email')?.valid == true" style="text-align:left;">
                    <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                  </div>

                </div>
                <div class="form-group">
                  <div style="text-align:left;">
                    <label for="country">{{ "WORD_PROFILE" | translate }} *</label>
                  </div>

                  <div class="input-group" *ngIf="change_language== false">
                    <select class="form-control" formControlName="profile"
                      [ngClass]="{'invalidField':
                      registerForm.get('profile')?.hasError('required') &&
                      registerForm.get('profile')?.touched
                      ,'correctField':registerForm.get('profile')?.hasError('required')==false}">
                      <option value="">{{ "WORD_SELECT_PROFILE" | translate }}</option>
                      <option *ngFor="let profile of user_profiles"
                        [value]="profile._id">
                        {{profile.name }}
                      </option>
                    </select>
                  </div>
                  <div class="input-group" *ngIf="change_language== true">
                    <select class="form-control" formControlName="profile"
                      [ngClass]="{'invalidField':
                      registerForm.get('profile')?.hasError('required') &&
                      registerForm.get('profile')?.touched
                      ,'correctField':registerForm.get('profile')?.hasError('required')==false}">
                      <option value="">{{ "WORD_SELECT_PROFILE" | translate }}</option>
                      <option *ngFor="let profile of user_profiles"
                        [value]="profile._id">
                        {{profile.eng_name }}
                      </option>
                    </select>
                  </div>
                  <div class="text-danger"
                    *ngIf="registerForm.get('profile')?.hasError('required') &&
                    registerForm.get('profile')?.touched"
                    style="text-align:left;">
                    <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                  </div>

                  <div class="text-success"
                    *ngIf="registerForm.get('profile')?.hasError('required')==
                    false" style="text-align:left;">
                    <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                  </div>
                </div>

                <div class="form-group">
                  <div style="text-align:left;">
                    <label for="affiliation">{{ "WORD_AFFILIATION" | translate
                      }}
                      *</label>
                  </div>

                  <input type="text" class="form-control" name="affiliation"
                    formControlName="affiliation"
                    [ngClass]="{'invalidField':
                    registerForm.get('affiliation')?.hasError('required') &&
                    registerForm.get('affiliation')?.touched
                    ,'correctField':registerForm.get('affiliation')?.hasError('required')==false}"/>
                  <div class="text-danger"
                    *ngIf="registerForm.get('affiliation')?.hasError('required')
                    && registerForm.get('affiliation')?.touched"
                    style="text-align:left;">
                    <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                  </div>

                  <div class="text-success"
                    *ngIf="registerForm.get('affiliation')?.hasError('required')==
                    false"
                    style="text-align:left;">
                    <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                  </div>
                </div>
                <div class="form-group">
                  <div style="text-align:left;">
                    <label for="website">{{ "WORD_WEBSITE" | translate }}</label>
                  </div>

                  <div class="input-group-sm d-flex align-items-center">
                    <input type="text" class="form-control" name="website"
                      formControlName="website"
                      />
                  </div>

                </div>
                <div class="form-group">
                  <div style="text-align: left;">
                    <label for="gender">{{ "WORD_GENRE" | translate }} *</label>
                  </div>

                  <div class="input-group" *ngIf="change_language== false">
                    <select class="form-control" formControlName="gender"
                      [ngClass]="{'invalidField':
                      registerForm.get('gender')?.hasError('required') &&
                      registerForm.get('gender')?.touched
                      ,'correctField':registerForm.get('gender')?.hasError('required')==false}">
                      <option value="">{{ "WORD_SELECT_GENRE" | translate }}</option>
                      <option *ngFor="let gender of genders"
                        [value]="gender.value">
                        {{ gender.label }}
                      </option>
                    </select>
                  </div>
                  <div class="input-group" *ngIf="change_language== true">
                    <select class="form-control" formControlName="gender"
                      [ngClass]="{'invalidField':
                      registerForm.get('gender')?.hasError('required') &&
                      registerForm.get('gender')?.touched
                      ,'correctField':registerForm.get('gender')?.hasError('required')==false}">
                      <option value="">{{ "WORD_SELECT_GENRE" | translate }}</option>
                      <option *ngFor="let gender of genders"
                        [value]="gender.value">
                        {{ gender.eng_Label }}
                      </option>
                    </select>
                  </div>
                  <div class="text-danger"
                    *ngIf="registerForm.get('gender')?.hasError('required') &&
                    registerForm.get('gender')?.touched" style="text-align:
                    left;">
                    <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                  </div>
                  <div class="text-success"
                    *ngIf="registerForm.get('gender')?.hasError('required')==
                    false" style="text-align: left;">
                    <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                  </div>

                </div>
                <div class="form-group">
                  <div>
                    <div style="text-align: left;">
                      <label>{{ "WORD_NPASSWORD" | translate }} *</label>
                    </div>

                    <div class="input-group mb-3"
                    >
                      <input  type="password" class="form-control" name="password"
                      formControlName="password"

                      [ngClass]="{'invalidField':
                      registerForm.get('password')?.hasError('required')
                      &&
                      registerForm.get('password')?.touched ||  registerForm.get('password')?.value.length > 0 && registerForm.get('password')?.valid == false
                      ,'correctField':registerForm.get('password')?.hasError('required')==false
                      &&  registerForm.get('password')?.valid == true}"

                      #passwordField/>
                      <button (click)="viewPassword()" class="viewP" id="viewP" tooltip="{{type | translate}}"><i class="fa fa-eye" id="icon"
                        #passwordIcon></i></button>
                    </div>

                  </div>

                <div class="text-danger"
                  *ngIf=" registerForm.get('password')?.value.length> 0
                  && registerForm.get('password')?.valid== false" style="text-align:left;">
                  <span><strong>{{"VALIDATE_PASSWORD_FIELD" | translate}}</strong></span>
                </div>
                <div class="text-success"
                  *ngIf="registerForm.get('password')?.hasError('required')==
                  false && registerForm.get('password')?.valid == true" style="text-align:left;">
                  <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                </div>

                </div>
                <div class="d-grid gap-2">
                  <button
                    class="btn btn-primary"
                    [disabled]="registerForm.invalid"
                    (click)="registerUser()">
                    {{ "SIGN_UP_BTN" | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
