h6 {
    font-size: 16px;
}

h5 {
    font-size: 16px;
}


.mat-header-cell {
    font-weight: bolder;
    font-size: 16px;
}

.mat-elevation-z8 {
    width: 54%;
	border: 2px solid lightgray;
	margin-left: 226px;
}
.badge-pink {
    color: #fff;
    background-color: #e74a72;
  }

  .badge-red {
    color: #fff;
    background-color: #ac1212;
  }

  .badge-green {
    color: #fff;
    background-color: #0f7a06;
  }

  .badge-blue {
    color: #fff;
    background-color: #0e1d61;
  }

  .badge-iceblue {
    color: #fff;
    background-color: #1075b9;
  }

.demo-table {
    width: 70%;

}



.mat-column-image {
    padding-right: 50px;
}


.mat-column-name {
    padding-left: 20px;
}



.mat-column-delete {
    padding-left: 30px;
}

.mat-column-edit {
    padding-left: 30px;
}
:host ::ng-deep {
    .customStepper.p-steps {
        .p-steps-item.p-highlight .p-steps-number {
            background-image: url("../../../assets/images/checkmar512.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            color: transparent;
            width: 1.8cm;
            height: 1.8cm;


        }

        .p-steps-item.p-highlight:before {
            border-top: 4px solid rgb(10, 199, 1);
            margin-left: -0.5cm;
        }

        .p-steps-item.p-disabled .p-steps-number {
            background-color: #12a5b0;
            width: 1cm;
            height: 1cm;
            opacity: 0.7;
        }

        .p-steps-item.p-disabled:before {
            border-top: 4px solid #12a5b0;
        }

        .p-steps-item.p-highlight .p-steps-title {
            color: #495057;
            white-space: pre-wrap;
        }

    }
}

:host ::ng-deep {
    .customPaginator.p-paginator {
        background-color: transparent;
        margin-top: -10px;
        height: 1cm;

        .p-paginator-pages .p-paginator-page.p-highlight {
            background: #4e73df;
            border-color: #E3F2FD;
            color: #ffffff;
            border-radius: 50%;
            border: 3px solid #ffff;
        }

    }
}

/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("../../../assets/fonts//poppins/poppins-v5-latin-300.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Light"), local("Poppins-Light"), url("../../../assets/fonts//poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts//poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../../../assets/fonts//poppins/poppins-v5-latin-300.woff") format("woff"), url("../../../assets/fonts//poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../../../assets/fonts//poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
    /* Legacy iOS */
}

/* poppins-300italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url("../../../assets/fonts//poppins/poppins-v5-latin-300italic.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../../../assets/fonts//poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts//poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("../../../assets/fonts//poppins/poppins-v5-latin-300italic.woff") format("woff"), url("../../../assets/fonts//poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("../../../assets/fonts//poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
    /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("../../../assets/fonts//poppins/poppins-v5-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Regular"), local("Poppins-Regular"), url("../../../assets/fonts//poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts//poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../../../assets/fonts//poppins/poppins-v5-latin-regular.woff") format("woff"), url("../../../assets/fonts//poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../../../assets/fonts//poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
    /* Legacy iOS */
}

/* poppins-italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url("../../../assets/fonts//poppins/poppins-v5-latin-italic.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Italic"), local("Poppins-Italic"), url("../../../assets/fonts//poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts//poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("../../../assets/fonts//poppins/poppins-v5-latin-italic.woff") format("woff"), url("../../../assets/fonts//poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("../../../assets/fonts//poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
    /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url("../../../assets/fonts/poppins/poppins-v5-latin-500.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Medium"), local("Poppins-Medium"), url("../../../assets/fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("../../../assets/fonts//poppins/poppins-v5-latin-500.woff") format("woff"), url("../../../assets/fonts//poppins/poppins-v5-latin-500.ttf") format("truetype"), url("../../../assets/fonts//poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
    /* Legacy iOS */
}

.step-title-mgs {
    color: rgb(10, 199, 1);
    font-weight: 550;
    font-size: 16px;
    margin-left: -2px;
    font-family: 'Poppins';
    margin-top: -20px;
}

#idbadge{
    background-color: white;
    color: black;
    width: 5cm;
    height: 2cm;
}
.closebutton:focus{
  outline: 0 !important;
  border-color: transparent;
  border-radius: 0;
}
::ng-deep .mat-horizontal-stepper-header-container {
	white-space: nowrap;
	display: flex;
	align-items: center;
	visibility: hidden;
	margin-top: -2cm;
}



:host ::ng-deep {
    .completedStepper.p-steps {
        .p-steps-item.p-highlight .p-steps-number {
            background-image: url("../../../assets/images/checkmar512.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            color: transparent;
            width: 1.8cm;
            height: 1.8cm;


        }

        .p-steps-item .p-menuitem-link {
            flex-direction: column;
            flex: 1 1 auto;
            overflow: visible;
            padding: 1rem 0.5rem;
        }


        .p-steps-item .p-menuitem-link .p-steps-number {
            background-image: url("../../../assets/images/checkmar512.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            color: transparent;
            width: 1.8cm;
            height: 1.8cm;
        }

        .p-steps-item .p-menuitem-link .p-steps-number:hover {
            cursor: pointer;
            border-top: 4px solid rgb(10, 199, 1);
        }


        .p-steps-item:before {
            content: " ";
            border-top: 3px solid rgb(10, 199, 1);
            width: 100%;
            top: 50%;
            left: 0;
            display: block;
            position: absolute;
            margin-top: -0.5rem;
        }



        .p-steps-item.p-highlight:before {
            content: " ";
            border-top: 3px solid rgb(10, 199, 1);
            width: 100%;
            top: 50%;
            left: 0;
            display: block;
            position: absolute;
            margin-top: -0.5rem;
        }

        .p-steps-number {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
            margin-right: 20px;
        }

        .p-steps-item.p-disabled .p-steps-number {
            background-image: url("../../../assets/images/checkmar512.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            color: transparent;
            width: 1.8cm;
            height: 1.8cm;
        }

        .p-steps-item.p-disabled:before {
            border-top: 4px solid transparent;
            margin-left: 0 cm;
        }

        .p-steps-title {
            color: #0d0d0e;
            white-space: nowrap;
            font-family: 'Poppins';
            font-size: 15px;
        }
        .p-steps-item.p-highlight .p-steps-title{
            font-weight: normal;
        }

    }
}
.completedExperiment {
    display: none;
}

.hideoptions {
    visibility: hidden;
}