.msgInfo {
    height: 1cm;
    width: 12cm;
}

.fieldForm {
    width: 15cm;
    height: 1cm;
}

.fieldDescription {
    width: 15cm;
    height: 2.5cm;
}

::ng-deep .mat-step-text-label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}


.text-style {
    color: #0d0d0e;
}

.inputField {
    width: 15cm;
    height: 1cm;
    color: #0d0d0e;
}

.passwordInput {
    height: 1cm;
    width: 14cm;
}

.form-identifier {
    height: 1cm;
    width: 10cm;
}


.form-identifier-select {
    height: 1cm;
    width: 10cm;
    background-color: white;
}

.invalidField {
    border: 3px solid rgb(227, 7, 7);
}


.mat-header-cell {
    font-weight: bolder;
    font-size: 14px;
}

.mat-elevation-z8 {
    width: 75%;
    border: 2px solid lightgray;
}


.demo-table {
    width: 70%;

}



.mat-column-identifier {
    padding-right: 50px;
}


.mat-column-relation {
    padding-left: 50px;
}

.mat-column-resource_type {
    padding-left: 50px;
}


.mat-column-delete {
    padding-left: 30px;
}
