<!-- Navbar Admin (change)-->
<div class=" letter">
    <!-- Image and text -->
    <!-- Navbar Vendor (change)-->
    <app-navbar></app-navbar>
    

</div>

<div class="container-fluid back">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <div class="align-items-start letter">
                <div class=" nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <a class="nav-link btn btn-link" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home"
                        role="tab" aria-controls="v-pills-home" aria-selected="true">Inicio</a>
                    <a class="nav-link active btn btn-link" id="v-pills-products-tab" data-bs-toggle="pill"
                        href="#v-pills-products" role="tab" aria-controls="v-pills-products"
                        aria-selected="false">Tiendas</a>

                </div>
            </div>
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                </div>
                <div class="tab-pane fade show active" id="v-pills-products" role="tabpanel"
                    aria-labelledby="v-pills-products-tab">

                    <!-- Componente Admin Market-->

                    <div class="row container-fluid letter mt-4 mb-3">
                        <div class="col-sm-6 col-md-6">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <a class="navbar-brand" href="#">
                                    <img src="../../../assets/images/store.svg" alt="" width="30" height="24"
                                        class="d-inline-block align-top">
                                    Bootstrap
                                </a>
                            </ul>
                        </div>
                        <div class="col">

                            <ul class="nav justify-content-end">
                                <app-shop-create (updateShopsEvent)="retrieveShops()"></app-shop-create>
                            </ul>

                        </div>
                    </div>

                    <!-- Content Market-->
                    <div class="p-3">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Lista de Tiendas</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 ">
                                            <div class="dataTables_length" id="dataTable_length"><label>
                                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                        <li class="nav-item dropdown center pe-3 ps-3">
                                                            <a class="nav-link dropdown-toggle" href="#"
                                                                id="navbarDropdown" role="button"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                Ordenar por:
                                                            </a>
                                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                                <li><a class="dropdown-item" href="#">Action</a>
                                                                </li>
                                                                <li><a class="dropdown-item" href="#">Another
                                                                        action</a>
                                                                </li>
                                                                <li>
                                                                    <hr class="dropdown-divider">
                                                                </li>
                                                                <li><a class="dropdown-item" href="#">Something else
                                                                        here</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </label></div>
                                        </div>

                                        <!-- Search Market-->
                                        <div class="col-sm-12 col-md-6 ">
                                            <div id="dataTable_filter" class="dataTables_filter"><label>
                                                    <div class="d-flex">
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control"
                                                                placeholder="Search by name" [(ngModel)]="name" />
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary" type="button"
                                                                    (click)="searchName()">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                                            (pageChange)="handlePageChange($event)"></pagination-controls>
                                    </div>

                                    <!-- Market List-->
                                    <table class="table table-responsive-lg" id="dataTable" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="me-2 ms-2">#</th>
                                                <th scope="col" class="me-2 ms-2">Logo</th>
                                                <th scope="col" class="me-2 ms-2">Nombre</th>
                                                <th scope="col" class="me-2 ms-2">Estado</th>
                                                <th scope="col" class="me-2 ms-2">Banner</th>
                                                <th scope="col" class="me-2 ms-2">Teléfono</th>
                                                <th scope="col" class="me-2 ms-2">Vendedor</th>
                                                <th scope="col" class="me-2 ms-2">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let shop of shops | paginate : {
                                                itemsPerPage: pageSize,
                                                currentPage: page,
                                                totalItems: count
                                              }; let i = index" [class.active]="i == currentIndex"
                                                (click)="setActiveShop(shop, i)">
                                                <th scope="row" class="middle-text">{{i +1 }}</th>
                                                <td class="middle-text">
                                                    <img [src]="shop.logo" class="rounded mx-auto d-block" alt="..."
                                                        width="100">
                                                </td>
                                                <td class="middle-text">{{ shop.name }}</td>
                                                <td class="middle-text">
                                                    <img [src]="shop.banner" class="rounded mx-auto d-block" alt="..."
                                                        width="100">
                                                </td>
                                                <td class="middle-text">
                                                    <span class="badge rounded-pill bg-success">Activo</span>
                                                </td>
                                                <td class="middle-text">
                                                    <img [src]="shop.banner" class="rounded mx-auto d-block" alt="..."
                                                        width="100">
                                                </td>
                                                <td class="middle-text">{{shop.phone}}</td>
                                                <td class="middle-text">
                                                    {{shop.vendor.user.first_name}}
                                                </td>
                                                <td class="middle-text">
                                                    <button class="btn btn-warning me-1"
                                                        routerLink="/shops/{{ shop.shop_id }}">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-info "><i class="fa fa-eye"
                                                            routerLink="/shops/{{ shop.shop_id }}/categories">Categorias</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    Items per Page:
                                    <select (change)="handlePageSizeChange($event)">
                                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                                            {{ size }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>