<div class="row">
    <div class="col mx-auto  fadeInDown">
        <div *ngIf="currentShop" class="edit-form">
            <h4>Tutorial</h4>

            <div class="form-group">
                <label for="title">Nombre</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="currentShop.name" name="name" />
            </div>

            <div class="form-group">
                <label for="banner">Logo</label>
                <input class="form-control" id="logo" required [(ngModel)]="currentShop.logo" name="logo" />
            </div>

            <div class="form-group">
                <label for="banner">Banner</label>
                <input class="form-control" id="banner" required [(ngModel)]="currentShop.banner" name="banner" />
            </div>

            <div class="form-group">
                <label for="phone">Teléfono</label>
                <input class="form-control" id="phone" required [(ngModel)]="currentShop.phone" name="phone" />
            </div>

            <div class="form-group">
                <label for="vendor">Vendedor</label>
                <label for="vendor"></label>
                <select [(ngModel)]="currentShop.vendor_id" class="form-control">
                    <option *ngFor="let vendor of vendors" [value]="vendor.vendor_id">
                        {{vendor.user.first_name}} {{vendor.user.last_name}}</option>
                </select>
            </div>



            <button type="submit" class="btn btn-primary" (click)="updateShop()">
                Update
            </button>
            <p>{{ message }}</p>
        </div>

        <div *ngIf="!currentShop">
            <br />
            <p>Cargando tiendas ...</p>
        </div>
    </div>
</div>