<div class="main">

    <!-- Sing in  Form -->
    <section class="sign-in" style="margin-top: 20px;">
        <div class="container">
            <a href="/experiment/step">
                <i class="fa fa-arrow-left icon-back-login fa-3x icon"
                    aria-hidden="true"
                    tooltip="{{'BACK_MENU'| translate}}"></i>
            </a>

            <div style=" text-align: right;
                margin-right:1cm;">
                <div style="position: relative; left:45px;top:-25px;">
                    <app-navbar></app-navbar>
                </div>
            </div>
            <br>
            <h3 class="form-title settings-title"><i class="fa fa-info-circle
                    iconcircle" aria-hidden="true"></i> {{"PERSONAL_SETTINGS" |
                translate}}</h3>
            <br>
            <br>
            <div class="signin-content">

                <div class="signin-image" style="margin-top: -10px;">
                    <figure>
                        <img
                            src="../../../assets/images/1486564400-account_81513.png"
                            class="user-photo"
                            alt="sing up image"
                            #profilephoto>
                        <div class="form-group mt-3">

                            <input #fileInput type="file"
                                (change)="chooseFileArtifact($event)"
                                style="display: none"
                                />
                        </div>
                        <button type="button" class="upload-photo-user"
                            (click)="fileInput.click()"><i class="fa
                                fa-cloud-upload icon-upload" aria-hidden="true"></i>
                            {{"UPLOAD_FILE" | translate}}
                        </button>
                        <p style="font-size: 12px; margin-top: -5px;">{{"MSG_SIZE_IMAGE"
                            | translate}}</p>
                        <span > <p style="font-size: 12px;">{{"SIZE_IMAGE_PART01"
                                | translate}}</p> <a
                                href="https://www.iloveimg.com/es/redimensionar-imagen#resize-options,pixels"
                                target="_blank" rel="noopener noreferrer"
                                style="font-size: 12px; text-decoration: none;">{{"CLICK_SIZE_IMAGE" |
                                translate}}</a></span>
                        <br>
                        <button *ngIf="uploadImage==true"
                            (click)="updateUser('upload')" class="option-boton"><i
                                class="fa fa-check" aria-hidden="true
                                " style="color:green;"></i> {{"WORD_ACCEPT" |
                            translate}}</button>
                        <button *ngIf="uploadImage==true"
                            (click)="cancelUploadImage()" class="option-boton"><i
                                class="fa fa-times" aria-hidden="true"
                                style="color:red;"></i> {{"WORD_CANCEL" |
                            translate}}</button>
                    </figure>


                </div>
                <div class="signin-form">
                    <form [formGroup]="userForm"
                        class="register-form"
                        id="login-form">

                        <div class="form-group">
                            <label for="username"></label>

                            <input type="text" name="names" id="username"
                                formControlName="full_name"
                                placeholder="{{'WORD_NAMES_AND_LASTNAMES' |
                                translate}}"
                                tooltip="{{'WORD_NAMES_AND_LASTNAMES' |
                                translate}}"
                                disabled />

                        </div>

                        <div class="form-group">
                            <input type="text" name="email"
                                formControlName="email"
                                placeholder="{{'WORD_EMAIL' | translate}}"
                                tooltip="{{'WORD_EMAIL' |translate}}"
                                disabled />

                        </div>

                        <div class="form-group">
                            <input type="text" name="affiliation"
                                formControlName="affiliation"
                                placeholder="{{'WORD_AFFILIATION' | translate}}"
                                tooltip="{{'WORD_AFFILIATION' |translate}}"
                                disabled />

                        </div>

                        <div class="form-group">
                            <label for="username"></label>

                            <input type="text" name="website"
                                formControlName="website"
                                placeholder="{{'WORD_WEBSITE' | translate}}"
                                tooltip="{{'WORD_WEBSITE' |translate}}"
                                disabled />

                        </div>

                    </form>
                    <div class="space-line">

                    </div>

                </div>
            </div>
        </div>
    </section>

    <div style="text-align: center;width: 100%; margin-top: 0.5cm;
        color: #8cc4cb;">
    </div>

</div>
