
<div style="margin-top: 25px;">
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened position="end" class="drawer">
         <p style="text-align:center;font-size: 16px;margin-top:20px;"> <i class="fa fa-user" aria-hidden="true"></i> User Guide</p>
        <mat-accordion>
          <!-- #enddocregion basic-panel -->
          <mat-expansion-panel (opened)="panelOpenState=
            true"
            (closed)="panelOpenState= false">
            <mat-expansion-panel-header>
              <mat-panel-title>
               Step 01: Register Experiments
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button>What is it about ?</button>
            <br>
            <button mat-button>How to create an experiment ?</button>
            <br>
            <button mat-button>Tips and advices</button>
            <br>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState=
            true"
            (closed)="panelOpenState= false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Step 02: Register Experimenters
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <button mat-button>What is it about ?</button>
            <br>
            <button mat-button>How to register a experimenter ?</button>
            <br>
            <button mat-button>How to join a new experimenter ?</button>
            <br>
            <button mat-button>Tips and advices</button>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState=
            true"
            (closed)="panelOpenState= false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Step 03: Register Groups
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <button mat-button>What is it about ?</button>
            <br>
            <button mat-button>How to register a group ?</button>
            <br>
            <button mat-button>Tips and advices</button>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState=
            true"
            (closed)="panelOpenState= false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Step 04: Register Tasks
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button>What is it about ?</button>
            <br>
            <button mat-button>How to register a tasks ?</button>
            <br>
            <button mat-button>Tips and advices</button>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState=
            true"
            (closed)="panelOpenState= false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Step 05: Register Artifacts
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button>What is it about ?</button>
            <br>
            <button mat-button>How to register an artifact ?</button>
            <br>
            <button mat-button>Tips and advices</button>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState=
            true"
            (closed)="panelOpenState= false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Step 06: Register ACM Artifacts
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button>What is it about ?</button>
            <br>
            <button mat-button>How to register an ACM Artifact ?</button>
            <br>
            <button mat-button>Tips and advices</button>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState=
            true"
            (closed)="panelOpenState= false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Step 07: Evaluation Criteria
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-button>What is it about ?</button>
            <br>
            <button mat-button>Tips and advices</button>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState=
            true"
            (closed)="panelOpenState= false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Step 08: Register Labpack
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <br>
            <button mat-button>What is it about ?</button>
            <br>
            <button mat-button>How to register an labpack ?</button>
            <br>
            <button mat-button>Tips and advices</button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-drawer>
      <mat-drawer-content>
        <div class="main-step">
          <app-user-guide-stepper></app-user-guide-stepper>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
</div>