<!-- Modal -->
<div
  class="modal fade letter"
  [id]="modal_id"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ modal_title }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          #closeCustomModal
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
				<ng-content>
				</ng-content>
      </div>
    </div>
  </div>
</div>
