<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
</svg>

<div *ngIf="menu_type =='menu'">

  <div [ngClass]="{'completedExperiment':completedExperiment==true}">
    <p-steps [model]="items" styleClass="customStepper"></p-steps>
  </div>
  <div *ngIf="completedExperiment==true && change_language ==
   true "
    [ngClass]="{'completedExperiment':completedExperiment==false}"
    style="position: relative; top: -30px;left: -20px;">
    <p-steps [model]="completedSteps"
      styleClass="completedStepper"
      [readonly]="false"></p-steps>
  </div>

  <div *ngIf="completedExperiment==true &&
   change_language==false"
    style="position: relative; top: -30px;left: -40px;">
    <p-steps [model]="completedStepSpanish"
      styleClass="completedStepper"
      [readonly]="false"></p-steps>
  </div>

  <br>

  <p class="step-title-mgs">{{"STEP_08" | translate}}</p>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor"
      viewBox="0 0 16 16">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
  </svg>

  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade" id="v-pills-home" role="tabpanel"
      aria-labelledby="v-pills-home-tab"></div>
    <div class="tab-pane fade show active" id="v-pills-products" role="tabpanel"
      aria-labelledby="v-pills-products-tab">
      <div class="p-3">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <div class="row container-fluid letter">

            </div>
          </div>
          <div class="card-body">

            <div class="col" [ngClass]="{'hideoptions':experimentOwner== false}">
              <ul class="nav justify-content-end">
                <button
                  style="width: 3.5cm; text-align: center;"
                  type="button" #createModal class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#createLabPackModal"
                  (click)="cleanFields()">{{ "WORD_ADD" | translate }}
                  <i class="fa fa-plus"></i>
                </button>
              </ul>
            </div>
            <br>
            <div class="table-responsive">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="dataTable_length"></div>
                </div>
              </div>
              <!-- Market List-->
              <table class="table table-responsive-lg" id="dataTable"
                width="100%" cellspacing="0"
                style="border: 2px solid rgb(243, 242, 242);">
                <thead>
                  <tr>
                    <th scope="col" class="me-2 ms-2 header"
                      style="border-bottom: 2px  solid rgb(243, 242, 242);">{{"TITLE_LABEL"| translate}}</th>
                    <th scope="col" class="me-2 ms-2 header"
                      style="border-bottom: 2px  solid rgb(243, 242, 242);">{{"WORD_TYPE"|
                      translate}}</th>
                    <th scope="col" class="me-2 ms-2 header"
                      style="border-bottom: 2px  solid rgb(243, 242, 242);">{{"WORD_RESPOSITORY"|
                      translate}}</th>
                    <th scope="col" class="me-2 ms-2 header"
                      style="border-bottom: 2px  solid rgb(243, 242, 242);">{{"WORD_DATE"|
                      translate}}</th>
                    <th scope="col" class="me-2 ms-2 header" style="width: 5cm;"
                      style="border-bottom: 2px  solid rgb(243, 242, 242);">{{
                      "WORD_OPTIONS" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let labpack of data_labpack">
                    <td class="middle-text">
                      {{labpack.package_name}}
                    </td>
                    <td class="middle-text" *ngIf="change_language==false">
                      {{labpack.package_type.name}}
                    </td>
                    <td class="middle-text" *ngIf="change_language==true">
                      {{labpack.package_type.eng_name}}
                    </td>
                    <td class="middle-text">
                      {{changeLanguage(labpack.repository.name)}}
                    </td>
                    <td class="middle-text">
                      {{ChangeDate(labpack.createdAt)}}
                    </td>

                    <td class="middle-text">
                      <button placement="top" title
                        tooltip="{{'WORD_UPDATE'| translate }}"
                        class="btn btn-warning me-1" data-bs-toggle="modal"
                        data-bs-target="#UpdateLabPack"
                        (click)=" GetDataLabPack(labpack)"
                        *ngIf="experimentOwner==true">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button placement="top" title
                        tooltip="{{'WORD_DOWNLOAD_ZIP'| translate }}"
                        class="btn btn-primary me-1" data-bs-toggle="modal"
                        data-bs-target="#zipModal">
                        <i class="fa fa-file-archive-o"></i>
                      </button>

                      <a
                      title tooltip="{{'MSG_NOACCOUNT_ZENODO'| translate }}"
                      class="btn btn-info me-1"
                      *ngIf="labpack.published==false && labpack.repository.name=='Zenodo'"
                      href="{{labpack.package_doi}}" target="_blank">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                      <button
                        title tooltip="{{'PUBLISH_ZENODO'| translate }}"
                        class="btn btn-success me-1" (click)="uploadPackage()"
                        *ngIf="labpack.published==true">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"
      style="position: relative;top:-1.8cm; left: -20px;"
      *ngIf="completedExperiment==false">
      <button class="btn btn-primary me-md-2" (click)="Back()" type="button"
        style="width: 3.5cm;"><i class="fa fa-angle-double-left"
          aria-hidden="true"></i> {{"BTN_BACK" | translate}}</button>
    </div>
  </div>
</div>

<!-- Modal to add labpack-->



<div class="modal fade letter" id="createLabPackModal" tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b>{{"ADD_LAB_PACK" | translate}}</b>
        </h5>
        <button type="button" class="btn-close" #closeModal
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col center">
            <!-- <img src="../../../assets/images/store.svg" alt="" class="pb-4" style="width: 20%;"> -->
          </div>
        </div>
        <div class="row">
          <mat-stepper [linear]="false" #stepper>
            <mat-step>


              <div class="col mx-auto fadeInDown">
                <form [formGroup]="groupForm"
                  #LabpackForm="ngForm">
                  <div class="submit-form">
                    <div class="form-group mt-3">
                      <label for="name">{{"WORD_NAME"| translate}} *</label>
                      <input class="form-control" id="name"
                        formControlName="package_name"
                        [ngClass]="{'invalidField':
                      groupForm.get('package_name')?.hasError('required') &&
                      groupForm.get('package_name')?.touched
                      ,'correctField':groupForm.get('package_name')?.hasError('required')==false}" />

                      <div class="text-danger"
                        *ngIf="groupForm.get('package_name')?.hasError('required') &&
                    groupForm.get('package_name')?.touched">
                        <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                      </div>
                      <div class="text-success"
                        *ngIf="groupForm.get('package_name')?.hasError('required')==
                    false">
                        <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                      </div>
                    </div>

                    <div class="form-group mt-3">
                      <label for="DOI">{{"WORD_PACK_DOI" | translate}} *</label>
                      <input class="form-control" id="DOI"
                        formControlName="package_doi"
                        [ngClass]="{'invalidField':
                      groupForm.get('package_doi')?.hasError('required') &&
                      groupForm.get('package_doi')?.touched
                      ,'correctField':groupForm.get('package_doi')?.hasError('required')==false}" />

                      <div class="text-danger"
                        *ngIf="groupForm.get('package_doi')?.hasError('required') &&
                      groupForm.get('package_doi')?.touched">
                        <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                      </div>
                      <div class="text-success"
                        *ngIf="groupForm.get('package_doi')?.hasError('required')==
                      false">
                        <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="change_language==false">
                      <label for="tipo">{{"WORD_TYPE"| translate}}</label>
                      <select id="inputState" class="form-control"
                        formControlName="package_type"
                        [ngClass]="{'invalidField':
                      groupForm.get('package_type')?.hasError('required') &&
                      groupForm.get('package_type')?.touched
                      ,'correctField':groupForm.get('package_type')?.hasError('required')==false}">
                        <option value>{{ "WORD_SELECT_ONE" | translate }}</option>
                        <option *ngFor="let types of PackagesTypes"
                          [value]="types._id">{{types.name}}
                        </option>
                      </select>

                      <div class="text-danger"
                        *ngIf="groupForm.get('package_type')?.hasError('required') &&
                      groupForm.get('package_type')?.touched">
                        <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                      </div>
                      <div class="text-success"
                        *ngIf="groupForm.get('package_type')?.hasError('required')==
                      false">
                        <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="change_language==true">
                      <label for="tipo">{{"WORD_TYPE"| translate}} *</label>
                      <select id="inputState" class="form-control"
                        formControlName="package_type"
                        [ngClass]="{'invalidField':
                      groupForm.get('package_type')?.hasError('required') &&
                      groupForm.get('package_type')?.touched
                      ,'correctField':groupForm.get('package_type')?.hasError('required')==false}">
                        <option value>{{ "WORD_SELECT_ONE" | translate }}</option>
                        <option *ngFor="let types of PackagesTypes"
                          [value]="types._id">{{types.eng_name}}
                        </option>
                      </select>

                      <div class="text-danger"
                        *ngIf="groupForm.get('package_type')?.hasError('required') &&
                      groupForm.get('package_type')?.touched">
                        <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                      </div>
                      <div class="text-success"
                        *ngIf="groupForm.get('package_type')?.hasError('required')==
                      false">
                        <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="published">{{"WH-ZENODO"| translate}}</label>
                      <br>
                      <label for style="margin-right: 5px;" class="text-style">{{"WORD_YES" |
                        translate}}</label>
                      <input type="checkbox" style="margin-right:10px;"
                        (change)="onChangeChoice(true)" [checked]="isChoosed"
                        formControlName="published">
                      <label for style="margin-right: 5px;" class="text-style">{{"WORD_NO" |
                        translate}}</label>
                      <input type="checkbox" (change)="onChangeChoice(false)"
                        [checked]="!isChoosed"
                        formControlName="published">

                    </div>

                    <div class="form-group" *ngIf="!isChoosed">
                      <label for="title">{{"WORD_RESPOSITORY"| translate}} *</label>
                      <select id="inputState" class="form-control"
                        formControlName="repository">
                        <option value>{{ "WORD_SELECT_ONE" | translate }}</option>
                        <option *ngFor="let repository of RepositoryTypes"
                          [value]="repository._id">
                          {{changeLanguage(repository.name)}}
                        </option>
                      </select>

                    </div>

                    <div class="form-group" *ngIf="isChoosed">
                      <label for="name">{{"TITLE_LABEL"| translate}} *</label>
                      <input class="form-control" id="title"
                        formControlName="package_title" />
                    </div>

                    <div class="form-group">
                      <label for="description">{{"WORD_DESCRIPTION"| translate}} *</label>
                      <textarea class="form-control" id="description"
                        formControlName="package_description"
                        rows="3"
                        [ngClass]="{'invalidField':
                        groupForm.get('package_description')?.hasError('required') &&
                        groupForm.get('package_description')?.touched
                        ,'correctField':groupForm.get('package_description')?.hasError('required')==false}"></textarea>

                      <div class="text-danger"
                        *ngIf="groupForm.get('package_description')?.hasError('required') &&
                        groupForm.get('package_description')?.touched">
                        <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                      </div>
                      <div class="text-success"
                        *ngIf="groupForm.get('package_description')?.hasError('required')==
                        false">
                        <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-success mt-3"
                      (click)="saveAs()"
                      [disabled]="!this.groupForm.valid"
                      >
                      {{ "WORD_SAVE" | translate }}
                    </button>
                  </div>
                </form>
              </div>
            </mat-step>

          </mat-stepper>





        </div>
      </div>
    </div>
  </div>
</div>





<!-- Modal to update labpack -->
<div class="modal fade letter" id="UpdateLabPack" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b>{{"UPDATE_LAB_PACK"| translate}}</b>
        </h5>
        <button type="button" class="btn-close" #closeModalUpdate
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col center">
            <!-- <img src="../../../assets/images/store.svg" alt="" class="pb-4" style="width: 20%;"> -->
          </div>
        </div>
        <div class="row">
          <div class="col mx-auto fadeInDown">
            <form [formGroup]="groupForm">
              <div class="submit-form">
                <div class="form-group mt-3">
                  <label for="name">{{"WORD_NAME" | translate}}</label>
                  <input class="form-control" id="name"
                    formControlName="package_name" />
                </div>
                <div class="form-group mt-3">
                  <label for="Package DOI">{{"WORD_PACK_DOI" | translate}}</label>
                  <input class="form-control" id="Package DOI"
                    formControlName="package_doi" />
                </div>
                <div class="form-group" *ngIf="change_language== false">
                  <label for="tipo">{{"WORD_TYPE"| translate}}</label>
                  <select id="inputState" class="form-control"
                    formControlName="package_type">
                    <option value>{{ "WORD_SELECT_ONE" | translate }}</option>
                    <option *ngFor="let types of PackagesTypes"
                      [value]="types._id">{{types.name}}
                    </option>
                  </select>
                </div>
                <div class="form-group" *ngIf="change_language == true">
                  <label for="tipo">{{"WORD_TYPE"| translate}}</label>
                  <select id="inputState" class="form-control"
                    formControlName="package_type">
                    <option value>{{ "WORD_SELECT_ONE" | translate }}</option>
                    <option *ngFor="let types of PackagesTypes"
                      [value]="types._id">{{types.eng_name}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="title">{{"WORD_RESPOSITORY"| translate}}*</label>
                  <select id="inputState" class="form-control"
                    formControlName="repository">
                    <option value>{{ "WORD_SELECT_ONE" | translate }}</option>
                    <option *ngFor="let repository of RepositoryTypes"
                      [value]="repository._id">
                      {{changeLanguage(repository.name)}}
                    </option>
                  </select>
                </div>
                <div class="form-group" *ngIf="isChoosed">
                  <label for="name">{{"TITLE_LABEL"| translate}} *</label>
                  <input class="form-control" id="title"
                    formControlName="package_title" />
                </div>

                <div class="form-group">
                  <label for="description">{{"WORD_DESCRIPTION" | translate}}</label>
                  <textarea class="form-control" id="description"
                    formControlName="package_description"
                    rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-info mt-3"
                  (click)="update()">
                  {{"WORD_UPDATE" | translate}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Form to generate labpack-->
<div class="modal fade" id="zipModal" tabindex="-1"
  aria-labelledby="zipModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="zipModalLabel">{{"WORD_GENERATE_ZIP" |
          translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
            aria-label="Info:">
            <use xlink:href="#info-fill" />
          </svg>
          <h6>{{"WORD_SELECT_ORDER" | translate}}</h6>
        </div>

        <br>
        <div class="row">

          <div class="col-6">
            <div class="row">
              <div class="card col-6" style="border: 0;border-color: white;">
                <h6 tooltip="{{'MSG_ORDER_DATE_ASC' | translate}}">{{"WORD_ASC_ORDER"
                  | translate}}</h6>
              </div>
              <div class="card col-6" style="border: 0;border-color: white;">
                <input type="checkbox" style="height:1cm;width:1cm;" name id
                  #asc
                  (click)="onChange(true,false,false,false)"
                  [checked]="ascChecked">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">

          <div class="col-6">
            <div class="row">
              <div class="card col-6" style="border: 0;border-color: white;">
                <h6 tooltip="{{'MSG_ORDER_DATE_DESC' | translate}}">{{"WORD_DESC_ORDER"
                  | translate}}</h6>
              </div>
              <div class="card col-6" style="border: 0;border-color: white;">
                <input type="checkbox" style="height:1cm;width:1cm;" name id
                  #desc
                  (click)="onChange(false,true,false,false)"
                  [checked]="descChecked">
              </div>
            </div>
          </div>
        </div>

        <br>
        <div class="row">

          <div class="col-6">
            <div class="row">
              <div class="card col-6" style="border: 0;border-color: white;">
                <h6 tooltip="{{'MSG_ORDER_BY_FORMAT'| translate}}">{{"WORD_FORMAT_ORDER"
                  | translate}}</h6>
              </div>
              <div class="card col-6" style="border: 0;border-color: white;">
                <input type="checkbox" style="height:1cm;width:1cm;" name id
                  #format
                  (click)="onChange(false,false,false,true)"
                  [checked]="formatChecked">
              </div>
            </div>
          </div>
        </div>

        <br>
        <div class="row">

          <div class="col-6">
            <div class="row">
              <div class="card col-6" style="border: 0;border-color: white;">
                <h6 tooltip="{{'MSG_ORDER_BY_PURPOSE'| translate}}">{{"WORD_PURPOSE_ORDER"
                  | translate}}</h6>
              </div>
              <div class="card col-6" style="border: 0;border-color: white;">
                <input type="checkbox" style="height:1cm;width:1cm;" name id
                  #purpose
                  (click)="onChange(false,false,true,false)"
                  [checked]="purposeChecked">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"WORD_CLOSE"
          | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="ShowZip()">{{"WORD_GENERATE"
          | translate}}</button>
      </div>
    </div>
  </div>
</div>
