<div class="tab-content" id="v-pills-tabContent" *ngIf="menu_type!='menu'">
  <div
    class="tab-pane fade"
    id="v-pills-home"
    role="tabpanel"
    aria-labelledby="v-pills-home-tab"
  ></div>
  <div
    class="tab-pane fade show active"
    id="v-pills-products"
    role="tabpanel"
    aria-labelledby="v-pills-products-tab"
  >
    <div class="row container-fluid letter mt-4 mb-3">
      <div class="col-sm-6 col-md-6">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="navbar-brand"> {{ "EXPERIMENTERS_LABEL" | translate }} </a>
        </ul>
      </div>
      <div class="col">
        <ul class="nav justify-content-end">
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary mx-1"
            data-bs-toggle="modal"
            data-bs-target="#addExperimenterModal"
            (click)="showAddExperimenter()"
          >
            {{ "WORD_ADD" | translate }}
            <i class="fa fa-plus"></i>
          </button>
          <app-add-experimenter
            #addExperimenterComponent
            [experiment_id]="experiment_id"
            (saveModal)="getExperimenters()"
          ></app-add-experimenter>
          <button
            type="button"
            class="btn btn-success mx-1"
            data-bs-toggle="modal"
            data-bs-target="#attachExperimenterModal"
            (click)="showAttachExperimenter()"
          >
            {{ "WORD_CONNECT" | translate }}
            <i class="fa fa-plug"></i>
          </button>
          <app-attach-experimenter
            #attachExperimenterComponent
            (saveModal)="getExperimenters()"
          ></app-attach-experimenter>
        </ul>
      </div>
    </div>
    <div class="p-3">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex align-items-center">
          <h6 class="m-0 font-weight-bold text-primary">
            {{ "EXPERIMENTER_LIST" | translate }}
          </h6>
          <app-refresh-button (refresh)="getExperimenters()">
          </app-refresh-button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="dataTable_length"></div>
              </div>
            </div>

            <div class="col-md-12">
              <pagination-controls
                previousLabel="{{ 'WORD_PREVIOUS' | translate }}"
                nextLabel="{{ 'WORD_NEXT' | translate }}"
                responsive="true"
                (pageChange)="handlePageChange($event)"
              ></pagination-controls>
            </div>

            <!-- Market List-->
            <table
              class="table table-responsive-lg"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th scope="col" class="me-2 ms-2">#</th>
                  <th scope="col" class="me-2 ms-2">{{ "WORD_NAMES" | translate }}</th>
                  <th scope="col" class="me-2 ms-2">{{ "WORD_EMAIL" | translate }}</th>
                  <th scope="col" class="me-2 ms-2">{{ "WORD_ROLES" | translate }}</th>
                  <th scope="col" class="me-2 ms-2">{{ "WORD_COUNTRY" | translate }}</th>
                  <th scope="col" class="me-2 ms-2">{{ "WORD_ORG" | translate }}</th>
                  <th scope="col" class="me-2 ms-2">{{ "WORD_OPTIONS" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let experimenter of experimenters
                      | paginate
                        : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index
                  "
                >
                  <th scope="row" class="middle-text">{{ i + 1 }}</th>
                  <td class="middle-text">
                    {{ experimenter.user.full_name }}
                  </td>
                  <td class="middle-text">
                    {{ experimenter.user.email }}
                  </td>
                  <td class="middle-text" *ngIf="change_language==false">
                    <!-- iterate over experimenter.experimenter_roles -->
                    <span *ngFor="let experimenter_role of experimenter.experimenter_roles">
                      - {{ experimenter_role.name }}<br>
                    </span>
                    <!-- {{ experimenter.experimenter_roles[0].name }} -->
                  </td>
                  <td class="middle-text" *ngIf="change_language==true">
                    <!-- iterate over experimenter.experimenter_roles -->
                    <span *ngFor="let experimenter_role of experimenter.experimenter_roles">
                      - {{ experimenter_role.eng_name }}<br>
                    </span>
                    <!-- {{ experimenter.experimenter_roles[0].name }} -->
                  </td>
                  <td class="middle-text">
                    {{ experimenter.user.country }}
                  </td>
                  <td class="middle-text">
                    {{ experimenter.user.affiliation }}
                  </td>

                  <td class="middle-text">
                    <button
                    tooltip="{{ 'UPDATE_EXPERIMENTER' | translate }}"
                    placement="top"
                    title
                    class="btn btn-warning me-1"

                    data-bs-toggle="modal"
                    data-bs-target="#testModal"
                    (click)="selectExperimenter(experimenter)">

                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                  tooltip="{{ 'DELETE_EXPERIMENTER' | translate }}"
                  placement="top"
                  title
                  class="btn btn-danger me-1"
                  (click)="deleteExperimenter(experimenter)"
                >
                <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                  </td>
                </tr>
              </tbody>
            </table>
            {{ "WORD_REGISTERS_PER_PAGE" | translate }}:
            <select (change)="handlePageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Stepper Menu-->

<div *ngIf="menu_type=='menu'">

<div class="container">
  <h6 style=" margin-top: 0.3cm;font-size: 16px;"><span style="font-weight:bold; color:black"><i class="fa fa-user-plus fa-2x" aria-hidden="true" style="background-color: rgb(51, 167, 90); border-radius: 100%; color:white;  padding: 0.15cm; border: 10px double #ffffff;"></i> {{"STEP_TWO" | translate}}</span> {{"STEP02_CONTENT"| translate}} </h6>
</div>

<br>
<div class="stepsdemo-content">

  <div class="tab-content" id="v-pills-tabContent" style="margin-top: -1cm;">
    <div
      class="tab-pane fade"
      id="v-pills-home"
      role="tabpanel"
      aria-labelledby="v-pills-home-tab"
    ></div>
    <div
      class="tab-pane fade show active"
      id="v-pills-products"
      role="tabpanel"
      aria-labelledby="v-pills-products-tab"
    >
      <div class="p-3" >
        <div class="card shadow mb-4">

          <div class="card-body">
            <div class="table-responsive" >
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="dataTable_length"></div>
                </div>
              </div>

              <div class="col-md-12">
                <pagination-controls
                  previousLabel="{{ 'WORD_PREVIOUS' | translate }}"
                  nextLabel="{{ 'WORD_NEXT' | translate }}"
                  responsive="true"
                  (pageChange)="handlePageChange($event)"
                ></pagination-controls>

                <div class="row container-fluid letter" style="margin-top: -1.2cm; margin-bottom: 0.25cm;">
                  <div class="col">
                    <ul class="nav justify-content-end">
                      <!-- Button trigger modal -->
                      <button
                        type="button"
                        class="btn btn-primary mx-1"
                        data-bs-toggle="modal"
                        data-bs-target="#addExperimenterModal"
                        (click)="showAddExperimenter()"
                      >
                        {{ "WORD_ADD" | translate }}
                        <i class="fa fa-plus"></i>
                      </button>
                      <app-add-experimenter
                        #addExperimenterComponent
                        [experiment_id]="experiment_id"
                        (saveModal)="getExperimenters()"
                      ></app-add-experimenter>
                      <button
                        type="button"
                        class="btn btn-success mx-1"
                        data-bs-toggle="modal"
                        data-bs-target="#attachExperimenterModal"
                        (click)="showAttachExperimenter()"
                      >
                        {{ "WORD_CONNECT" | translate }}
                        <i class="fa fa-plug"></i>
                      </button>
                      <app-attach-experimenter
                        #attachExperimenterComponent
                        (saveModal)="getExperimenters()"
                      ></app-attach-experimenter>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Market List-->
              <table
                class="table table-responsive-lg"
                id="dataTable"
                width="100%"
                cellspacing="0"
              >
                <thead>
                  <tr>
                    <th scope="col" class="me-2 ms-2 header">#</th>
                    <th scope="col" class="me-2 ms-2 header">{{ "WORD_NAMES" | translate }}</th>
                    <th scope="col" class="me-2 ms-2 header">{{ "WORD_EMAIL" | translate }}</th>
                    <th scope="col" class="me-2 ms-2 header" style="width: 4cm;">{{ "WORD_ROLES" | translate }}</th>
                    <th scope="col" class="me-2 ms-2 header">{{ "WORD_COUNTRY" | translate }}</th>
                    <th scope="col" class="me-2 ms-2 header">{{ "WORD_ORG" | translate }}</th>
                    <th scope="col" class="me-2 ms-2 header" style="width: 5cm;">{{ "WORD_OPTIONS" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let experimenter of experimenters
                        | paginate
                          : {
                              itemsPerPage: pageSize,
                              currentPage: page,
                              totalItems: count
                            };
                      let i = index
                    "
                  >
                    <th scope="row" class="middle-text">{{ i + 1 }}</th>
                    <td class="middle-text">
                      {{ experimenter.user.full_name }}
                    </td>
                    <td class="middle-text">
                      {{ experimenter.user.email }}
                    </td>
                    <td class="middle-text" *ngIf="change_language==false">
                      <!-- iterate over experimenter.experimenter_roles -->
                      <span *ngFor="let experimenter_role of experimenter.experimenter_roles">
                        - {{ experimenter_role.name }}<br>
                      </span>
                      <!-- {{ experimenter.experimenter_roles[0].name }} -->
                    </td>
                    <td class="middle-text" *ngIf="change_language==true">
                      <!-- iterate over experimenter.experimenter_roles -->
                      <span *ngFor="let experimenter_role of experimenter.experimenter_roles">
                        - {{ experimenter_role.eng_name }}<br>
                      </span>
                      <!-- {{ experimenter.experimenter_roles[0].name }} -->
                    </td>
                    <td class="middle-text">
                      {{ experimenter.user.country }}
                    </td>
                    <td class="middle-text">
                      {{ experimenter.user.affiliation }}
                    </td>

                    <td class="middle-text">
                      <button
                      tooltip="{{ 'UPDATE_EXPERIMENTER' | translate }}"
                      placement="top"
                      title
                      class="btn btn-warning me-1"

                      data-bs-toggle="modal"
                      data-bs-target="#testModal"
                      (click)="selectExperimenter(experimenter)">

                      <i class="fa fa-edit"></i>
                    </button>
                    <button
                    tooltip="{{ 'DELETE_EXPERIMENTER' | translate }}"
                    placement="top"
                    title
                    class="btn btn-danger me-1"
                    (click)="deleteExperimenter(experimenter)"
                  >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                    </td>
                  </tr>
                </tbody>


                <tfoot style="border-bottom: 1px solid lightgrey;">
                  <tr>
                    <td class="middle-text">{{ "WORD_REGISTERS_PER_PAGE" | translate }}:</td>
                    <td>
                      <select (change)="handlePageSizeChange($event)">
                        <option *ngFor="let size of pageSizes" [ngValue]="size" class="middle-text">
                          {{ size }}
                        </option>
                      </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tfoot>

              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div >
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="position: relative;top: -0.5cm; left: -1cm;">
      <button class="btn btn-primary me-md-2" (click)="Back()" type="button"  style="width: 3.5cm;"><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{"BTN_BACK" | translate}}</button>
      <button class="btn btn-primary" (click)="Next()" style="width: 3.5cm;">{{"BTN_NEXT" | translate}}   <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
    </div>


  </div>
</div>
</div>



<!-- Modal -->
<div class="modal fade" id="testModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="UpdateModalLabel">
          <b>{{ "UPDATE_EXPERIMENTER" | translate }}</b>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" #closeAddExperimenter
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="experimenterForm">
          <div class="submit-form">
            <div class="form-group">
              <label for="name">{{ "WORD_NAMES_AND_LASTNAMES" | translate }} *</label>
              <input type="text" class="form-control" name="full_name" formControlName="full_name" />
            </div>
            <div class="form-group">
              <label for="email">{{ "WORD_EMAIL" | translate }} *</label>
              <input type="email" class="form-control" name="email" formControlName="email" />
            </div>
            <div class="form-group">
              <label for="country">{{ "WORD_COUNTRY" | translate }} *</label>
              <div class="input-group">
                <select class="form-control" formControlName="country">
                  <option value="">{{ "WORD_SELECT_COUNTRY" | translate }}</option>
                  <option *ngFor="let country of countries" [value]="country.name">
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="profile">{{ "EXPERIMENTER_PROFILE" | translate }} *</label>
              <div class="input-group" *ngIf="change_language== false">
                <select class="form-control" formControlName="profile">
                  <option value="">{{ "WORD_SELECT_PROFILE" | translate }}</option>
                  <option *ngFor="let profile of user_profiles" [value]="profile._id">
                    {{profile.name }}
                  </option>
                </select>
              </div>
              <div class="input-group" *ngIf="change_language== true">
                <select class="form-control" formControlName="profile">
                  <option value="">{{ "WORD_SELECT_PROFILE" | translate }}</option>
                  <option *ngFor="let profile of user_profiles" [value]="profile._id">
                    {{profile.eng_name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group"  *ngIf="change_language== false">
              <label for="experimenter_roles">{{ "EXPERIMENTER_ROLES" | translate }} *</label>
              <ng-multiselect-dropdown [placeholder]="'WORD_SELECT_ROLES' | translate" [settings]="dropdownSettings"
                [data]="roles" formControlName="experimenter_roles">
              </ng-multiselect-dropdown>
            </div>

            <div class="form-group"  *ngIf="change_language== true">
              <label for="experimenter_roles">{{ "EXPERIMENTER_ROLES" | translate }} *</label>
              <ng-multiselect-dropdown [placeholder]="'WORD_SELECT_ROLES' | translate" [settings]="dropdownEnGSettings"
                [data]="roles" formControlName="experimenter_roles">
              </ng-multiselect-dropdown>
            </div>

            <div class="form-group">
              <label for="identification">Identificación (Cédula o DNI) *</label>
              <input type="text" class="form-control" id="identification" name="identification"
                formControlName="identification" required />
            </div>
            <div class="form-group">
              <label for="phone">{{ "WORD_PHONE" | translate }}</label>
              <input type="text" class="form-control" name="phone" formControlName="phone" />
            </div>
            <div class="form-group">
              <label for="affiliation">{{ "WORD_AFFILIATION" | translate }} *</label>
              <input type="text" class="form-control" name="affiliation" formControlName="affiliation" />
            </div>
            <div class="form-group">
              <label for="website">{{ "WORD_WEBSITE" | translate }}</label>
              <div class="input-group-sm d-flex align-items-center">
                <input type="text" class="form-control" name="website" formControlName="website" />
                <i tooltip="{{ 'WORD_HELP_WEBSITE_OF_EXPERIMENTER' | translate }}" placement="top" title
                  class="fa fa-info-circle ml-1" aria-hidden="true"></i>
              </div>
            </div>
            <div class="form-group">
              <label for="gender">{{ "WORD_GENRE" | translate }} *</label>
              <div class="input-group" *ngIf="change_language== false">
                <select class="form-control" formControlName="gender">
                  <option value="">{{ "WORD_SELECT_GENRE" | translate }}</option>
                  <option *ngFor="let gender of genders" [value]="gender.value">
                    {{ gender.label }}
                  </option>
                </select>
              </div>

              <div class="input-group" *ngIf="change_language== true">
                <select class="form-control" formControlName="gender">
                  <option value="">{{ "WORD_SELECT_GENRE" | translate }}</option>
                  <option *ngFor="let gender of genders" [value]="gender.value">
                    {{ gender.eng_Label }}
                  </option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-success mt-3"
            (click)="updateExperimenter()">
              {{ "WORD_UPDATE" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>