
<div *ngIf="menu_type=='menu'">
  <div [ngClass]="{'completedExperiment':completedExperiment==true}">
    <p-steps [model]="items" styleClass="customStepper"></p-steps>
  </div>
  <div *ngIf="completedExperiment==true && change_language ==
    true "
    [ngClass]="{'completedExperiment':completedExperiment==false}"
    style="position: relative; top: -20px;left: -20px;">
    <p-steps [model]="completedSteps"
      styleClass="completedStepper"
      [readonly]="false"></p-steps>
  </div>


  <div *ngIf="completedExperiment==true &&
    change_language==false"
    style="position: relative; top: -30px;left: -40px;">
    <p-steps [model]="completedStepSpanish"
      styleClass="completedStepper"
      [readonly]="false"></p-steps>
  </div>
  <br>
  <p class="step-title-mgs">{{"STEP_02" | translate}}</p>
  <br>

  <div class="stepsdemo-content">

    <div class="tab-content" id="v-pills-tabContent" style="margin-top: -1cm;">
      <div
        class="tab-pane fade show active"
        id="v-pills-products"
        role="tabpanel"
        aria-labelledby="v-pills-products-tab">
        <div>
          <div>

            <div>

              <app-card>
                <content>

                  <div style="margin-left: 90px;">
                    <mat-form-field appearance="standard">
                      <mat-label><i class="fa fa-search" aria-hidden="true"></i>
                        {{"WORD_FILTER" | translate}}</mat-label>
                      <input matInput (keyup)="applyFilter($event)"
                        placeholder='{{"SEARCH_MSG" | translate}}' #input>
                    </mat-form-field>
                  </div>
                  <div class="col-md-11" style="margin-top:-50px;"
                    [ngClass]="{'hideoptions':experimentOwner== false}">
                    <div class="row container-fluid letter">
                      <div class="col">
                        <ul class="nav justify-content-end">
                          <!-- Button trigger modal -->
                          <button
                            type="button"
                            style="width: 3.5cm;"
                            class="btn btn-primary mx-1"
                            data-bs-toggle="modal"
                            data-bs-target="#addExperimenterModal"
                            (click)="showAddExperimenter()">
                            {{ "WORD_ADD" | translate }}
                            <i class="fa fa-plus"></i>
                          </button>
                          <app-add-experimenter
                            #addExperimenterComponent
                            [experiment_id]="experiment_id"
                            (saveModal)="getExperimenters()"></app-add-experimenter>
                          <button
                            type="button"
                            style="width: 3.5cm;"
                            class="btn btn-success mx-1"
                            data-bs-toggle="modal"
                            tooltip="{{'WORD_CONNECT_LABEL' | translate}}"
                            data-bs-target="#attachExperimenterModal"
                            (click)="showAttachExperimenter()">
                            {{ "WORD_CONNECT" | translate }}
                            <i class="fa fa-plug"></i>
                          </button>
                          <app-attach-experimenter
                            #attachExperimenterComponent
                            (saveModal)="getExperimenters()"></app-attach-experimenter>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <br>
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                      <ng-container matColumnDef="full_name">
                        <th mat-header-cell *matHeaderCellDef>{{"WORD_NAMES" |
                          translate}}</th>
                        <td mat-cell *matCellDef="let experimenter">
                          {{experimenter.full_name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>{{"WORD_EMAIL" |
                          translate}}</th>
                        <td mat-cell *matCellDef="let experimenter">
                          {{experimenter.email}} </td>
                      </ng-container>

                      <ng-container matColumnDef="roles">
                        <th mat-header-cell *matHeaderCellDef>{{"WORD_ROLES"
                          | translate}}</th>
                        <td mat-cell *matCellDef="let experimenter">
                          <div *ngIf="change_language== false">
                            <span *ngFor="let experimenter_role of
                              experimenter.experimenter_roles">
                              {{showIconExperimenter(experimenter_role.name) }}<br>
                            </span>
                          </div>

                          <div *ngIf="change_language== true">
                            <span *ngFor="let experimenter_role of
                              experimenter.experimenter_roles">
                              {{ showIconExperimenter(experimenter_role.eng_name)}}<br>
                            </span>
                          </div>
                        </td>

                      </ng-container>


                      <ng-container matColumnDef="org">
                        <th mat-header-cell *matHeaderCellDef>{{"WORD_ORG"
                          |
                          translate}}</th>
                        <td mat-cell *matCellDef="let experimenter">
                          {{experimenter.affiliation}} </td>
                      </ng-container>

                      <ng-container matColumnDef="option">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let experimenter">
                          <button
                            tooltip="{{ 'UPDATE_EXPERIMENTER' | translate }}"
                            placement="top"
                            title
                            class="btn btn-warning me-1"
                            *ngIf="experimentOwner==true"
                            data-bs-toggle="modal"
                            data-bs-target="#testModal"
                            (click)="selectExperimenter(experimenter)">

                            <i class="fa fa-edit"></i>
                          </button>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                          <th mat-header-cell *matHeaderCellDef></th>
                          <td mat-cell *matCellDef="let experimenter">
                            <button
                              tooltip="{{ 'DELETE_EXPERIMENTER' | translate }}"
                              placement="top"
                              title
                              class="btn btn-danger me-1"
                              *ngIf="experimentOwner==true"
                              (click)="deleteExperimenter(experimenter)">

                              <i class="fa fa-trash"></i>
                            </button>
                          </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns:
                          displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">{{"NO_DATA_FOUND" |
                            translate}}</td>
                        </tr>

                      </table>

                      <mat-paginator [pageSizeOptions]="[2,4,6,8,10]"
                        showFirstLastButtons>
                      </mat-paginator>
                    </div>

                  </content>
                </app-card>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end"
                  *ngIf="completedExperiment==false">
                  <button class="btn btn-primary me-md-2" (click)="Back()"
                    type="button"
                    style="width: 3.5cm"><i class="fa fa-angle-double-left"
                      aria-hidden="true"></i> {{"BTN_BACK" | translate}}</button>
                  <button class="btn btn-primary" (click)="Next()" style="width:
                    3.5cm">{{"BTN_NEXT"
                    | translate}} <i class="fa fa-angle-double-right"
                      aria-hidden="true"></i></button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div>



      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="testModal" tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="UpdateModalLabel">
            <b>{{ "UPDATE_EXPERIMENTER" | translate }}</b>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            #closeAddExperimenter
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="experimenterForm">
            <div class="submit-form">
              <div class="form-group">
                <label for="name">{{ "WORD_NAMES_AND_LASTNAMES" | translate }} *</label>
                <input type="text" class="form-control" name="full_name"
                  formControlName="full_name" />
              </div>
              <div class="form-group">
                <label for="email">{{ "WORD_EMAIL" | translate }} *</label>
                <input type="email" class="form-control" name="email"
                  formControlName="email" />
              </div>
              <div class="form-group">
                <label for="profile">{{ "EXPERIMENTER_PROFILE" | translate }} *</label>
                <div class="input-group" *ngIf="change_language== false">
                  <select class="form-control" formControlName="profile">
                    <option value="">{{ "WORD_SELECT_PROFILE" | translate }}</option>
                    <option *ngFor="let profile of user_profiles"
                      [value]="profile._id">
                      {{profile.name }}
                    </option>
                  </select>
                </div>
                <div class="input-group" *ngIf="change_language== true">
                  <select class="form-control" formControlName="profile">
                    <option value="">{{ "WORD_SELECT_PROFILE" | translate }}</option>
                    <option *ngFor="let profile of user_profiles"
                      [value]="profile._id">
                      {{profile.eng_name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group" *ngIf="change_language== false">
                <label for="experimenter_roles">{{ "EXPERIMENTER_ROLES" |
                  translate }} *</label>
                <ng-multiselect-dropdown [placeholder]="'WORD_SELECT_ROLES' |
                  translate" [settings]="dropdownSettings"
                  [data]="roles" formControlName="experimenter_roles">
                </ng-multiselect-dropdown>
              </div>

              <div class="form-group" *ngIf="change_language== true">
                <label for="experimenter_roles">{{ "EXPERIMENTER_ROLES" |
                  translate }} *</label>
                <ng-multiselect-dropdown [placeholder]="'WORD_SELECT_ROLES' |
                  translate" [settings]="dropdownEnGSettings"
                  [data]="roles" formControlName="experimenter_roles">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group">
                <label for="affiliation">{{ "WORD_AFFILIATION" | translate }} *</label>
                <input type="text" class="form-control" name="affiliation"
                  formControlName="affiliation" />
              </div>
              <div class="form-group">
                <label for="website">{{ "WORD_WEBSITE" | translate }}</label>
                <div class="input-group-sm d-flex align-items-center">
                  <input type="text" class="form-control" name="website"
                    formControlName="website" />
                  <i tooltip="{{ 'WORD_HELP_WEBSITE_OF_EXPERIMENTER' | translate
                    }}" placement="top" title
                    class="fa fa-info-circle ml-1" aria-hidden="true"></i>
                </div>
              </div>

              <div class="form-group">
                <label for="gender">{{ "WORD_GENRE" | translate }} *</label>
                <div class="input-group" *ngIf="change_language== false">
                  <select class="form-control" formControlName="gender">
                    <option value="">{{ "WORD_SELECT_GENRE" | translate }}</option>
                    <option *ngFor="let gender of genders"
                      [value]="gender.value">
                      {{ gender.label }}
                    </option>
                  </select>
                </div>

                <div class="input-group" *ngIf="change_language== true">
                  <select class="form-control" formControlName="gender">
                    <option value="">{{ "WORD_SELECT_GENRE" | translate }}</option>
                    <option *ngFor="let gender of genders"
                      [value]="gender.value">
                      {{ gender.eng_Label }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group mt-3">
                <label for="corresponding_autor">{{"CORRESPONDING_AUTHOR" |
                  translate}}</label>
                <input type="checkbox" style="margin-left: 10px; height: 0.5cm;
                  width: 0.5cm;" name="corresponding_autor"
                  formControlName="corresponding_autor"/>
              </div>

              <button type="submit" class="btn btn-success mt-3"
                (click)="updateExperimenter()">
                {{ "WORD_UPDATE" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>