.btn-primary:hover{
background-color: rgb(82, 148, 82);
}

.card-number{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.card-title-artifacts{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: black;
}