<!-- Modal -->
<div class="modal fade letter" id="attachExperimenterModal" tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<b>{{ "EXPERIMENTER_CONNECT" | translate }}</b>
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					#closeAttachExperimenter
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form
					*ngIf="active"
					#attachExperimenterForm="ngForm"
					[formGroup]="experimenterForm"
					(ngSubmit)="save()">
					<ng-autocomplete #autocomplete [data]="data" autocomplete="on" placeholder="{{
						'WORD_SEARCH_USER_BY_EMAIL' | translate }}"
						[searchKeyword]="keyword" (selected)="selectUser($event)"
						(inputChanged)="onChangeSearch($event)"
						[itemTemplate]="itemTemplate"
						(inputCleared) ="onClear()"
						[debounceTime]="1000">
					</ng-autocomplete>

					<ng-template #itemTemplate let-item>
						<a [innerHTML]="item.email"></a>
					</ng-template>


					<div class="form-group mt-3" *ngIf="change_language== false">
						<label for="experimenter_roles">{{ "EXPERIMENTER_ROLES" | translate }} *</label>
						<ng-multiselect-dropdown [placeholder]="'WORD_SELECT_ROLES' | translate"
							[settings]="dropdownSettings"
							[data]="roles" formControlName="experimenter_roles">
						</ng-multiselect-dropdown>
					</div>
					<div class="form-group mt-3" *ngIf="change_language== true">
						<label for="experimenter_roles">{{ "EXPERIMENTER_ROLES" | translate }} *</label>
						<ng-multiselect-dropdown [placeholder]="'WORD_SELECT_ROLES' | translate"
							[settings]="dropdownEnGSettings"
							[data]="roles" formControlName="experimenter_roles">
						</ng-multiselect-dropdown>
					</div>
					<button type="submit" class="btn btn-success mt-3"
						[disabled]="!this.experimenterForm.valid">
						{{ "WORD_SAVE" | translate }}
					</button>
				</form>
			</div>
		</div>
	</div>
</div>