<div class="form-group">
  <label for="duration">{{ "WORD_DURATION" | translate }} (hh:mm:ss) *</label>
    <form [formGroup]="Form">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <input type="number" class="form-control durationfield" min="0" max="100" tooltip="Hours"
          formControlName="hours">
        </div>
        <div class="col-auto">
          <input type="number" class="form-control durationfield" min="0" max="100" tooltip="Minutes"
          formControlName="minutes">
        </div>
        <div class="col-auto">
          <input type="number" class="form-control durationfield" min="0" max="100" tooltip="Seconds"
          formControlName="seconds">
        </div>
      </div>
    </form>

  </div>
