.badge-pink {
  color: #fff;
  background-color: #e74a72;
}

.badge-red {
  color: #fff;
  background-color: #ac1212;
}

.badge-green {
  color: #fff;
  background-color: #0f7a06;
}

.badge-blue {
  color: #fff;
  background-color: #0e1d61;
}

.badge-iceblue {
  color: #fff;
  background-color: #1075b9;
}

h6 {
  font-size: 16px;
}

h5 {
  font-size: 16px;
}

.btn {
  width: 4cm;
}


.mat-header-cell {
  font-weight: bolder;
  font-size: 16px;
}

.mat-elevation-z8 {
  width: 100%;
  border: 2px solid lightgray;
}


.demo-table {
  width: 100%;
  margin-left: 200px;

}

.mat-column-name {
  padding-left: 50px;
}

.mat-column-image {
  padding-left: 50px;

}

.mat-column-title {
  padding-left: 50px;
  padding-right: 20px;
  width: 5cm;

}

.mat-column-type {
  padding-left: 50px;
  padding-right: 20px;
  width: 5cm;

}

.mat-column-options {
  padding-right: 50px;
  width: 10cm;
}

:host ::ng-deep {
  .customStepper.p-steps {
      .p-steps-item.p-highlight .p-steps-number {
          background-image: url("../../../../assets/images/checkmar512.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-color: transparent;
          color: transparent;
          width: 1.8cm;
          height: 1.8cm;


      }

      .p-steps-item.p-highlight:before {
          border-top: 4px solid rgb(10, 199, 1);
          margin-left: -0.5cm;
      }

      .p-steps-item.p-disabled .p-steps-number {
          background-color: #12a5b0;
          width: 1cm;
          height: 1cm;
          opacity: 0.7;
      }

      .p-steps-item.p-disabled:before {
          border-top: 4px solid #12a5b0;
      }

      .p-steps-item.p-highlight .p-steps-title {
          color: #495057;
          white-space: pre-wrap;
      }

  }
}

:host ::ng-deep {
  .customPaginator.p-paginator {
      background-color: transparent;
      margin-top: -10px;
      height: 1cm;

      .p-paginator-pages .p-paginator-page.p-highlight {
          background: #4e73df;
          border-color: #E3F2FD;
          color: #ffffff;
          border-radius: 50%;
          border: 3px solid #ffff;
      }

  }
}

.step-title-mgs {
  margin-top: -20px;
  color: rgb(10, 199, 1);
  font-weight: bolder;
  font-size: medium;
  margin-left: 25px;
}

:host ::ng-deep {
  .completedStepper.p-steps {
      .p-steps-item.p-highlight .p-steps-number {
          background-image: url("../../../../assets/images/checkmar512.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-color: transparent;
          color: transparent;
          width: 1.8cm;
          height: 1.8cm;


      }

      .p-steps-item .p-menuitem-link .p-steps-number {
          background-image: url("../../../../assets/images/checkmar512.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-color: transparent;
          color: transparent;
          width: 1.8cm;
          height: 1.8cm;
      }

      .p-steps-item .p-menuitem-link .p-steps-number:hover {
          background-image: url("../../../../assets/images/icons8-checkmark-512.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-color: transparent;
          color: transparent;
          width: 1.5cm;
          height: 1.5cm;
          cursor: pointer;
      }

      .p-steps-item:before {
          width: 40px;
          border-top: 4px solid rgb(10, 199, 1);
          margin-left: -0.5cm;
      }



      .p-steps-item.p-highlight:before {
          border-top: 4px solid rgb(10, 199, 1);
          margin-left: -0.5cm;
      }

      .p-steps-item.p-disabled .p-steps-number {
          background-image: url("../../../../assets/images/checkmar512.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-color: transparent;
          color: transparent;
          width: 1.8cm;
          height: 1.8cm;
      }

      .p-steps-item.p-disabled:before {
          border-top: 4px solid rgb(10, 199, 1);
          margin-left: -0.5cm;
      }

      .p-steps-item.p-highlight .p-steps-title {
          color: #495057;
          white-space: pre-wrap;
      }

  }
}

.completedExperiment {
  display: none ;
}