<div *ngIf="activeView == './badges' && menu_type !='menu'">
  <app-card>
    <header class="d-flex align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">{{ "BADGES_ACM_LABEL" | translate }}</h6>
      <app-button-icon [icon]="'fa fa-refresh'">
      </app-button-icon>
    </header>
    <content>
      <ul class="list-group list-group-horizontal flex-wrap">
        <li *ngFor="let badge of badges" class="list-group-item" style="width: 150px">
          <img [src]="badge.image" height="80px" width="80px" alt="" class="mr-2" style="
              display: block;
              margin-left: auto;
              margin-right: auto !important;
            " />
          <div style="text-align: center" *ngIf="change_language== false">
            {{ badge.name }}
          </div>
          <div style="text-align: center" *ngIf="change_language== true">
            {{ badge.eng_name}}
          </div>
          <div class="progress">
            <div class="progress-bar"
             role="progressbar" [style.width.%]="badge.percentage" aria-valuenow="{{badge.percentage.toFixed(0)}}" aria-valuemin="0" aria-valuemax="100">{{badge.percentage.toFixed(0) }}%</div>
          </div>
        </li>
      </ul>
    </content>
  </app-card>
  <app-card>
    <header>
      <h6 class="m-0 font-weight-bold text-primary">{{ "WORD_CRITERIAS" | translate }}</h6>
      <div *ngIf="change_language== false">
        <select (click)=" showStandardList()" id="idbadge" #idbadge>
          <option value="{{0}}">Todos</option>
          <option *ngFor="let badge of badges" value="{{badge._id}}">{{badge.name}}</option>
         </select>
      </div>
      <div *ngIf="change_language== true">
        <select (click)=" showStandardList()" id="idbadge" #idbadge>
          <option value="{{0}}">All</option>
          <option *ngFor="let badge of badges" value="{{badge._id}}">{{badge.eng_name}}</option>
         </select>
      </div>
    </header>
    <content>
      <table class="table">
        <thead class="border-0">
          <tr>
            <th class="border-0"></th>
            <th class="border-0"></th>
            <th class="border-0"></th>
            <th class="border-0"></th>
            <th class="border-0"></th>
            <th class="border-0"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="border border" *ngFor="let evaluation of qualified_standards">
            <td *ngIf="change_language== false">{{ evaluation.description }}</td>
            <td *ngIf="change_language== true"> {{ evaluation.eng_name }}</td>
            <td>
              <div *ngIf="functional_badge == true || reusable_badge == true  ||  disponible_badge == true || replicated_badge ==true || reproduced_badge==true">
              <img src="{{img_badge}}" height="50px" width="50px" alt="" class="mr-2" style="
              display: block;
              margin-left: auto;
              margin-right: auto !important;
            " />
            </div>
            </td>
            <td>
              <div *ngIf="functional_badge == true || reusable_badge == true  ||  disponible_badge == true || replicated_badge ==true || reproduced_badge==true">
                <span class="badge ml-1" [class.badge-pink]=" name_badge == 'badge_functional'"
                  [class.badge-green]="name_badge == 'badge_available'"
                  [class.badge-red]="name_badge == 'badge_reusable'"
                  [class.badge-blue]="name_badge == 'badge_reproduced'"
                  [class.badge-iceblue]="name_badge == 'badge_replicated'">{{title_badge}}</span>
              </div>
            </td>
            <td>
              <div *ngIf="functional_badge == true || reusable_badge == true  ||  disponible_badge == true || replicated_badge ==true || reproduced_badge==true">
              {{showStandardType(evaluation.standard_type)}}
            </div>
          </td>
            <td >
              <button #viewButton type="button" class="btn" [class.btn-warning]="evaluation.status != 'success'"
                [class.btn-success]="evaluation.status == 'success'" style="margin-left: auto"
                (click)="changeView(evaluation.name)">
                {{ (evaluation.status == 'success' ? "WORD_FINISH_CRITERIA" : "WORD_COMPLETE_CRITERIA") | translate }}
              </button>
            </td>
            <td >
              <div *ngIf="functional_badge == true || reusable_badge == true ||  disponible_badge == true || replicated_badge ==true || reproduced_badge==true">

                <div *ngIf="showStandardType(evaluation.standard_type) == 'Opcional'  && evaluation.status !='success'" style="font-size: 30px;">
                  {{evaluation.value}}
                </div>

                <div *ngIf="showStandardType(evaluation.standard_type) == 'Optional' && evaluation.status !='success'" style="font-size: 30px;">
                  {{evaluation.value}}
                </div>
                <div *ngIf="showStandardType(evaluation.standard_type) == 'Opcional' && evaluation.status =='success'" style="font-size: 30px;">
                  {{evaluation.value}}
                </div>
                <div *ngIf="showStandardType(evaluation.standard_type) == 'Optional' && evaluation.status =='success'" style="font-size: 30px;">
                  {{evaluation.value}}
                </div>
                <div *ngIf="showStandardType(evaluation.standard_type) == 'Requerido' || showStandardType(evaluation.standard_type) == 'Required'">
                  {{evaluation.value}}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </content>
  </app-card>
</div>

<div *ngIf="menu_type=='menu'">
  <br>
  <div class="container">
    <h6 style="margin-left: 1cm; margin-top: -0.5cm;font-size: 16px;"><span style="font-weight:bold; color:black"><i class="fa fa-bookmark fa-2x" aria-hidden="true" style="background-color: rgb(51, 167, 90); border-radius: 100%; color:white;  padding: 0.20cm; border: 10px double #ffffff;"></i> {{"STEP_07" | translate}}</span> {{"STEP07_CONTENT"| translate}} </h6>
  </div>

  <div *ngIf="activeView == './badges'">
<div style="margin-left: 4.5cm;">
  <app-card>
    <header class="d-flex align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">{{ "BADGES_ACM_LABEL" | translate }}</h6>
      <app-button-icon [icon]="'fa fa-refresh'">
      </app-button-icon>
    </header>
    <content>
      <ul class="list-group list-group-horizontal flex-wrap" style="margin-left: 1.5cm;">
        <li *ngFor="let badge of badges" class="list-group-item" style="width: 150px">
          <img [src]="badge.image" height="80px" width="80px" alt="" class="mr-2" style="
              display: block;
              margin-left: auto;
              margin-right: auto !important;
            " />
          <div style="text-align: center" *ngIf="change_language== false">
            {{ badge.name }}
          </div>
          <div style="text-align: center" *ngIf="change_language== true">
            {{ badge.eng_name}}
          </div>
          <div class="progress">
            <div class="progress-bar"
             role="progressbar" [style.width.%]="badge.percentage" aria-valuenow="{{badge.percentage.toFixed(0)}}" aria-valuemin="0" aria-valuemax="100">{{badge.percentage.toFixed(0) }}%</div>
          </div>
        </li>
      </ul>
    </content>
  </app-card>

</div>
<div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="position: relative;top: -0.4cm;">
    <button class="btn btn-primary me-md-2" (click)="Back()" type="button"  style="width: 3.5cm;"><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{"BTN_BACK" | translate}}</button>
    <button class="btn btn-primary" (click)="Next()" style="width: 3.5cm;">{{"BTN_NEXT" | translate}}   <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
  </div>
</div>

  <div style="margin-left: 3cm;width: 100%;">
    <app-card>
      <header>
        <h6 class="m-0 font-weight-bold text-primary">{{ "WORD_CRITERIAS" | translate }}</h6>
        <div *ngIf="change_language== false">
          <select (click)=" showStandardList()" id="idbadge" #idbadge>
            <option value="{{0}}">Todos</option>
            <option *ngFor="let badge of badges" value="{{badge._id}}">{{badge.name}}</option>
           </select>
        </div>
        <div *ngIf="change_language== true">
          <select (click)=" showStandardList()" id="idbadge" #idbadge>
            <option value="{{0}}">All</option>
            <option *ngFor="let badge of badges" value="{{badge._id}}">{{badge.eng_name}}</option>
           </select>
        </div>
      </header>
      <content>
        <table class="table">
          <thead class="border-0">
            <tr>
              <th class="border-0"></th>
              <th class="border-0"></th>
              <th class="border-0"></th>
              <th class="border-0"></th>
              <th class="border-0"></th>
              <th class="border-0"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="border border" *ngFor="let evaluation of qualified_standards">
              <td *ngIf="change_language== false">{{ evaluation.description }}</td>
              <td *ngIf="change_language== true"> {{ evaluation.eng_name }}</td>
              <td>
                <div *ngIf="functional_badge == true || reusable_badge == true  ||  disponible_badge == true || replicated_badge ==true || reproduced_badge==true">
                <img src="{{img_badge}}" height="50px" width="50px" alt="" class="mr-2" style="
                display: block;
                margin-left: auto;
                margin-right: auto !important;
              " />
              </div>
              </td>
              <td>
                <div *ngIf="functional_badge == true || reusable_badge == true  ||  disponible_badge == true || replicated_badge ==true || reproduced_badge==true">
                  <span class="badge ml-1" [class.badge-pink]=" name_badge == 'badge_functional'"
                    [class.badge-green]="name_badge == 'badge_available'"
                    [class.badge-red]="name_badge == 'badge_reusable'"
                    [class.badge-blue]="name_badge == 'badge_reproduced'"
                    [class.badge-iceblue]="name_badge == 'badge_replicated'">{{title_badge}}</span>
                </div>
              </td>
              <td>
                <div *ngIf="functional_badge == true || reusable_badge == true  ||  disponible_badge == true || replicated_badge ==true || reproduced_badge==true">
                {{showStandardType(evaluation.standard_type)}}
              </div>
            </td>
              <td >
                <button #viewButton type="button" class="btn" [class.btn-warning]="evaluation.status != 'success'"
                  [class.btn-success]="evaluation.status == 'success'" style="margin-left: auto"
                  (click)="changeView(evaluation.name)">
                  {{ (evaluation.status == 'success' ? "WORD_FINISH_CRITERIA" : "WORD_COMPLETE_CRITERIA") | translate }}
                </button>
              </td>
              <td >
                <div *ngIf="functional_badge == true || reusable_badge == true ||  disponible_badge == true || replicated_badge ==true || reproduced_badge==true">

                  <div *ngIf="showStandardType(evaluation.standard_type) == 'Opcional'  && evaluation.status !='success'" style="font-size: 30px;">
                    {{evaluation.value}}
                  </div>

                  <div *ngIf="showStandardType(evaluation.standard_type) == 'Optional' && evaluation.status !='success'" style="font-size: 30px;">
                    {{evaluation.value}}
                  </div>
                  <div *ngIf="showStandardType(evaluation.standard_type) == 'Opcional' && evaluation.status =='success'" style="font-size: 30px;">
                    {{evaluation.value}}
                  </div>
                  <div *ngIf="showStandardType(evaluation.standard_type) == 'Optional' && evaluation.status =='success'" style="font-size: 30px;">
                    {{evaluation.value}}
                  </div>
                  <div *ngIf="showStandardType(evaluation.standard_type) == 'Requerido' || showStandardType(evaluation.standard_type) == 'Required'">
                    {{evaluation.value}}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </content>
    </app-card>
  </div>
  </div>
</div>

<div [ngStyle]="{'margin-left': menu_type=='menu' ? '4cm': '0.5cm'}">
  <app-paper *ngIf="activeView == 'articulo_cientifico'" [experiment_id]="experiment_id" [standard]="standard"
  (closeView)="changeView()">
</app-paper>
<app-artifacts-inventory *ngIf="activeView == 'inventario_artefacto'" [experiment_id]="experiment_id"
  [standard]="standard" (closeView)="changeView()" >
</app-artifacts-inventory>
<app-readme-file *ngIf="activeView == 'archivo_readme'" [experiment_id]="experiment_id" [standard]="standard"
  (closeView)="changeView()">
</app-readme-file>
<app-instruction-guide-download *ngIf="activeView == 'guia_instrucciones_descarga'" [experiment_id]="experiment_id"
  [standard]="standard" (closeView)="changeView()">
</app-instruction-guide-download>
<app-instruction-guide-execute *ngIf="activeView == 'guia_instrucciones_ejecutar'" [experiment_id]="experiment_id"
  [standard]="standard" (closeView)="changeView()">
</app-instruction-guide-execute>
<app-choice-file *ngIf="activeView == 'archivo_decision'" [experiment_id]="experiment_id" [standard]="standard"
  (closeView)="changeView()">
</app-choice-file>
<app-contact-file *ngIf="activeView == 'archivo_contact'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-contact-file>

<app-requirements-file
*ngIf="activeView == 'archivo_requirements'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-requirements-file>
<app-status-file *ngIf="activeView == 'archivo_status'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-status-file>
<app-license-file *ngIf="activeView == 'archivo_license'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-license-file>
<app-install-file *ngIf="activeView == 'archivo_install'" [experiment_id]="experiment_id" [standard]="standard"
  (closeView)="changeView()">
</app-install-file>
<app-structured-artifacts *ngIf="activeView == 'artefactos_bien_estructurados'" [experiment_id]="experiment_id" [standard]="standard"
  (closeView)="changeView()">
</app-structured-artifacts>

<app-type-package *ngIf="activeView == 'registro_tipo_paquete'" [experiment_id]="experiment_id" [standard]="standard"
  (closeView)="changeView()">
</app-type-package>

<app-virtual-env *ngIf="activeView == 'registro_entorno_virtual'" [experiment_id]="experiment_id" [standard]="standard"
  (closeView)="changeView()">
</app-virtual-env>

<app-register-install-guide   *ngIf="activeView == 'guia_instalacion'"  [experiment_id]="experiment_id" [standard]="standard"
  (closeView)="changeView()">
</app-register-install-guide>

<app-zip-files *ngIf="activeView == 'artefactos_comprimidos'" [experiment]="experiment_id" [standard]="standard"
  (closeView)="changeView()">
</app-zip-files>

<app-min-config *ngIf="activeView == '30_min_duracion_config_install'" [experiment_id]="experiment_id" [standard]="standard"
  (closeView)="changeView()">
</app-min-config>

<app-citation-file *ngIf="activeView == 'archivo_citation'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()"></app-citation-file>
<app-author-file *ngIf="activeView == 'archivo_authors' || activeView =='articulo_authors_original'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-author-file>
<app-reproduced-scientific-article *ngIf="activeView == 'articulo_cientifico_reproducido'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-reproduced-scientific-article>
<app-reproduced-authors-file *ngIf="activeView ==  'archivo_authors_reproducido'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-reproduced-authors-file>
<app-abstract-file *ngIf="activeView ==  'archivo_abstract'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-abstract-file>
<app-reproduced-critic-summary
*ngIf="activeView ==  'resumen_critico_reproducido'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-reproduced-critic-summary>

<app-reproduced-reflexions-file
*ngIf="activeView ==  'reflexiones_criticas_reproducido'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-reproduced-reflexions-file>

<app-reproduced-narrative-file
*ngIf="activeView ==  'narrativa_acontecimientos_reproducido'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-reproduced-narrative-file>


<app-justification-file
*ngIf="activeView ==  'archivo_justificacion_reproducido'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">

</app-justification-file>

<app-scientific-article-replicated

*ngIf="activeView =='articulo_cientifico_replicado'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">

</app-scientific-article-replicated>

<app-authors-file-replicated
*ngIf="activeView =='articulo_authors_replicado'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">

</app-authors-file-replicated>

<app-abstract-article-replicated
*ngIf="activeView =='articulo_abstract_replicado'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-abstract-article-replicated>

<app-critic-summary-replicated
*ngIf="activeView =='resumen_critico_replicado'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">

</app-critic-summary-replicated>

<app-critic-reflexions-replicated
*ngIf="activeView =='reflexiones_critica_replicado'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-critic-reflexions-replicated>

<app-justification-file-replicated
*ngIf="activeView =='solicitud_insignia_replicado'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-justification-file-replicated>

<app-narrative-file-replicated
*ngIf="activeView =='narrativa_acontecimientos_replicado'" [experiment_id]="experiment_id" [standard]="standard"
(closeView)="changeView()">
</app-narrative-file-replicated>
</div>
