.badge-pink {
  color: #fff;
  background-color: #e74a72;
}
.badge-red {
  color: #fff;
  background-color: #ac1212;
}
.badge-green {
  color: #fff;
  background-color: #0f7a06;
}
.badge-blue {
  color: #fff;
  background-color: #0e1d61;
}
.badge-iceblue {
  color: #fff;
  background-color: #1075b9;
}

h6 {
  font-size: 16px;
}

h5 {
  font-size: 16px;
}

