<div style="height: 0px;" >
    <app-login></app-login>
    <app-register></app-register>
  </div>
  <app-objetos-nav>

    <div class="content"  >
      <div fxLayout="row wrap" fxLayoutGap="10px  grid" fxLayoutGap.gt-lg="10px grid" fxLayoutAlign.gt-lg="center start" fxLayoutAlign="center start">
        <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.xl="30%" fxFlex.gt-lg="10%" *ngFor="let valor of mensajes" >
          <mat-card class="example-card"  >
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" style="background-image: url({{valor.imagen}});" ></div>
              <mat-card-title>{{valor.titulo}} </mat-card-title>
              <mat-card-subtitle>{{valor.subtitulo}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="[valor.imagen]" alt="Foto de imagen">
            <mat-card-content>
              <p>
              {{valor.contenido}}
              </p>
            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </div>
  </app-objetos-nav>

