.example-card {
    max-width: 400px;
  }

  .example-header-image {
    //background-image: url('../../../../assets/images/imagen01.jpg');
    background-size: cover;
  }

  .content {
    padding: 16px 10px;
  }

  mat-card-content{

    min-height: 100px;
  }

  img {
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;

  }

  @media (min-width: 1920px) {

    .example-card {
      min-width: 400px ;
    }
  }
