<!-- Button trigger modal -->
<button style="text-align: center; margin-right: 5px;" mat-flat-button
aria-label="icon login" data-bs-toggle="modal" data-bs-target="#exampleModal"
color="primary">
<span style="font-size: 16px;">{{ "WORD_LOGIN" | translate }}</span>
</button>

<!-- Modal -->
<div
  class="modal fade letter"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"
        style="font-size: 20px; color: black;">
          {{ "WORD_LOGIN" | translate }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          #closeLoginModal
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mx-auto fadeInDown">
            <form
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit()"
              class="pe-3 ps-3">
              <div class="mb-3">
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"

                  [ngClass]="{'invalidField':
                  loginForm.get('email')?.hasError('required') &&
                  loginForm.get('email')?.touched
                  ,'correctField':loginForm.get('email')?.hasError('required')==false}"/>
                  <div class="text-danger"
                  *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                  <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
              </div>
              <div class="text-success"
              *ngIf="loginForm.get('email')?.hasError('required')==
              false">
              <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
            </div>
              </div>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                id="floatingPassword"
                placeholder="{{ 'WORD_PASSWORD' | translate }}"
                [ngClass]="{'invalidField':
                loginForm.get('password')?.hasError('required') &&
                loginForm.get('password')?.touched
                ,'correctField':loginForm.get('password')?.hasError('required')==false}"/>

                <div class="text-danger"
                *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
            </div>

            <div class="text-success"
            *ngIf="loginForm.get('password')?.hasError('required')== false">
            <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
          </div>
              <br />
              <div class="d-grid gap-2">
                <button
                  class="btn btn-primary"
                  [disabled]="loginForm.invalid"
                  type="submit">
                  {{ "WORD_LOGIN" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
