<div class="main">

    <!-- Sing in  Form -->
    <section class="sign-in" style="margin-top: 20px;">
        <div class="container">
            <a href="/">
                <i class="fa fa-arrow-left icon-back-login fa-3x icon" aria-hidden="true"
                tooltip="Back to Login"></i>
              </a>

            <div style=" text-align: right;
                margin-right:0.5cm;">
                <div style="position: relative; top: -40px;">
                    <app-navbar></app-navbar>
                </div>

            </div>
            <div class="signin-content">


                <div class="signin-form">
                    <h2 class="form-title" style="font-size: 29px;">{{"CHANGE_PASSWORD" | translate}}</h2>
                    <form
                    [formGroup]="Form"
                       >

                        <div class="form-group">
                            <div>

                              <div class="input-group mb-3"
                              >
                                <input  type="password" class="form-control" name="password"
                                formControlName="password"
                                placeholder="{{'ENTER_PASSWORD' | translate}}"
                                #passwordField/>
                                <button (click)="viewPassword()" class="viewP" id="viewP" tooltip="{{type | translate}}"><i class="fa fa-eye" id="icon"
                                  #passwordIcon></i></button>
                              </div>

                            </div>

                            <div class="text-danger"
                            *ngIf=" Form.get('password')?.hasError('required')
                            && Form.get('password')?.valid== false && Form.get('password')?.touched" style="text-align:left;">
                            <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                          </div>
                          <div class="text-danger"
                            *ngIf=" Form.get('password')?.value.length> 0
                            && Form.get('password')?.valid== false && Form.get('password')?.touched" style="text-align:left;">
                            <span><strong>{{"VALIDATE_PASSWORD_FIELD" | translate}}</strong></span>
                          </div>
                          <div class="text-success"
                            *ngIf="Form.get('password')?.hasError('required')==
                            false && Form.get('password')?.valid == true" style="text-align:left;">
                            <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                          </div>

                          </div>


                          <div class="form-group">
                            <div>

                              <div class="input-group mb-3"
                              >
                                <input  type="password" class="form-control" name="newpassword"
                                formControlName="newpassword"
                                placeholder="{{'ENTER_PASSWORD_VERIFY' | translate}}"


                                #passwordField2/>
                                <button (click)="viewPasswordTwo()" class="viewP" id="viewP" tooltip="{{type | translate}}"><i class="fa fa-eye" id="icon"
                                  #passwordIcon2></i></button>
                              </div>

                            </div>

                            <div class="text-danger"
                            *ngIf=" Form.get('newpassword')?.hasError('required')
                            && Form.get('newpassword')?.valid== false && Form.get('newpassword')?.touched" style="text-align:left;">
                            <span><strong>{{"MANDATORY_FIELD" | translate}} *</strong></span>
                          </div>
                          <div class="text-danger"
                            *ngIf=" Form.get('newpassword')?.value.length> 0
                            && Form.get('newpassword')?.valid== false && Form.get('newpassword')?.touched" style="text-align:left;">
                            <span><strong>{{"VALIDATE_PASSWORD_FIELD" | translate}}</strong></span>
                          </div>
                          <div class="text-success"
                            *ngIf="Form.get('newpassword')?.hasError('required')==
                            false && Form.get('newpassword')?.valid == true" style="text-align:left;">
                            <span><strong>{{"MSG_VALIDA_FIELD" | translate}}</strong></span>
                          </div>

                          </div>

                        <br>
                        <br>

                        <div class="form-button">
                            <input type="submit" name="signin" id="signin"
                                class="form-submit"
                                [disabled]="!Form.valid"
                                value="{{'BTN_CHANGE_PASSWORD' | translate}}"
                                 (click)="ChangePassword()"/>
                        </div>

                         <div style="margin-top: 80px;">

                         </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div style="text-align: center;width: 100%; margin-top: 0.5cm;
        color: #8cc4cb;">
        <br>
        <h4>© 2023  Copyright: badgeGo</h4>
    </div>

</div>

