<div class="tab-content" id="v-pills-tabContent" *ngIf="menu_type !='menu'">
  <div class="tab-pane fade" id="v-pills-home" role="tabpanel"
    aria-labelledby="v-pills-home-tab"></div>
  <div class="tab-pane fade show active" id="v-pills-products" role="tabpanel"
    aria-labelledby="v-pills-products-tab">
    <div class="row container-fluid letter mt-4 mb-3">
      <div class="col-sm-6 col-md-6">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="navbar-brand"> {{"ACM_ARTIFACTS" | translate}} </a>
        </ul>
      </div>
      <div class="col">
        <ul class="nav justify-content-end">
          <button type="button" class="btn btn-info mx-1"
            (click)="openArtifactUploadModal()" data-bs-toggle="modal"
            data-bs-target="#artifactCreateModal">{{ "ARTIFACT_UPLOAD" |
            translate }}
            <i class="fa fa-cloud-upload"></i>
          </button>
          <app-acm-artifacts-create [experiment_id]="experiment_id"
            #appArtifactCreate (saveModal)="getArtifacts()">
          </app-acm-artifacts-create>
        </ul>
      </div>
    </div>
    <div class="p-3">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex align-items-center">
          <h6 class="m-0 font-weight-bold text-primary">{{"ACM_ARTIFACTS_LIST" |
            translate}}</h6>
          <app-refresh-button (refresh)="getArtifacts()">
          </app-refresh-button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="dataTable_length"></div>
              </div>
            </div>

            <div class="col-md-12">
              <pagination-controls previousLabel="{{ 'WORD_PREVIOUS' | translate
                }}"
                nextLabel="{{ 'WORD_NEXT' | translate }}" responsive="true"
                (pageChange)="handlePageChange($event)">
              </pagination-controls>
            </div>

            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">{{"WORD_NAME" | translate}}</th>
                    <th scope="col">{{"WORD_SIZE" | translate}}</th>
                    <th scope="col">{{"WORD_FORMAT" | translate}}</th>
                    <th scope="col">{{"WORD_DATE" | translate}}</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                    let artifact of artifacts
                    | paginate
                    : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                    };
                    let i= index
                    ">
                    <td *ngIf="change_language==false"> {{ artifact.name }}</td>
                    <td *ngIf="change_language==true">
                      {{ChangeName(artifact.name)}}</td>

                    <td>{{parseBytes(artifact.file_size)}}</td>
                    <td> {{ artifact.file_format }}</td>
                    <td>{{ artifact.createdAt | date }}</td>
                    <td>
                      <a href="{{artifact.file_url}}" target="_blank"
                        rel="noopener noreferrer" tooltip="{{'SHOW_FILE' |
                        translate}}"
                        style="margin-right: 20px;">
                        <i class="fa fa-file-pdf-o btn btn-success"
                          aria-hidden="true"></i>
                      </a>

                      <a tooltip="{{'DELET_FILE' | translate}}"
                        (click)="deleteArtifactConfirm(artifact)">
                        <i class="fa fa-trash btn btn-danger"
                          aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="menu_type =='menu'">
  <br>
  <br>
  <div class="container">
    <h6 style="margin-top: -0.5cm;font-size: 16px;"><span
        style="font-weight:bold; color:black"><i class="fa fa-folder-open fa-2x"
          aria-hidden="true" style="background-color: rgb(51, 167, 90);
          border-radius: 100%; color:white; padding: 0.15cm; border: 10px double
          #ffffff;"></i> {{"STEP_06" | translate}}</span> {{"STEP06_CONTENT"|
      translate}} </h6>
  </div>

  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade" id="v-pills-home" role="tabpanel"
      aria-labelledby="v-pills-home-tab"></div>
    <div class="tab-pane fade show active" id="v-pills-products" role="tabpanel"
      aria-labelledby="v-pills-products-tab">

      <div class="p-3">
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex align-items-center" style="height:
            1.5cm;">
            <div class="row container-fluid letter">
              <div class="col">
                <ul class="nav justify-content-end">
                  <button type="button" class="btn btn-info mx-1"
                    (click)="openArtifactUploadModal()" data-bs-toggle="modal"
                    data-bs-target="#artifactCreateModal">{{ "ARTIFACT_UPLOAD" |
                    translate }}
                    <i class="fa fa-cloud-upload"></i>
                  </button>
                  <app-acm-artifacts-create [experiment_id]="experiment_id"
                    #appArtifactCreate (saveModal)="getArtifacts()">
                  </app-acm-artifacts-create>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="dataTable_length"></div>
                </div>
              </div>

              <div class="col-md-12">
                <pagination-controls previousLabel="{{ 'WORD_PREVIOUS' |
                  translate
                  }}"
                  nextLabel="{{ 'WORD_NEXT' | translate }}" responsive="true"
                  (pageChange)="handlePageChange($event)">
                </pagination-controls>
              </div>

              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="header" style="width: 7cm;">{{"WORD_NAME"
                        | translate}}</th>
                      <th scope="col" class="header">{{"WORD_SIZE" | translate}}</th>
                      <th scope="col" class="header">{{"WORD_FORMAT" |
                        translate}}</th>
                      <th scope="col" class="header">{{"WORD_DATE" | translate}}</th>
                      <th scope="col" class="header">{{ "WORD_OPTIONS" |
                        translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="
                      let artifact of artifacts
                      | paginate
                      : {
                      itemsPerPage: pageSize,
                      currentPage: page,
                      totalItems: count
                      };
                      let i= index
                      ">
                      <td *ngIf="change_language==false" class="middle-text"> {{
                        artifact.name }}</td>
                      <td *ngIf="change_language==true" class="middle-text">
                        {{ChangeName(artifact.name)}}</td>

                      <td class="middle-text">{{parseBytes(artifact.file_size)}}</td>
                      <td class="middle-text"> {{ artifact.file_format }}</td>
                      <td class="middle-text">{{ artifact.createdAt | date }}</td>
                      <td>
                        <a href="{{artifact.file_url}}" target="_blank"
                          rel="noopener noreferrer" tooltip="{{'SHOW_FILE' |
                          translate}}"
                          style="margin-right: 20px;">
                          <i class="fa fa-file-pdf-o btn btn-success"
                            aria-hidden="true"></i>
                        </a>

                        <a tooltip="{{'DELET_FILE' | translate}}"
                          (click)="deleteArtifactConfirm(artifact)">
                          <i class="fa fa-trash btn btn-danger"
                            aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>

                  </tbody>
                  <tfoot style="border-bottom: 1px solid lightgrey;">
                    <tr>
                      <td class="middle-text">{{ "WORD_REGISTERS_PER_PAGE" |
                        translate }}:</td>
                      <td>
                        <select (change)="handlePageSizeChange($event)">
                          <option *ngFor="let size of pageSizes"
                            [ngValue]="size" class="middle-text">
                            {{ size }}
                          </option>
                        </select>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="position: relative;top: -0.4cm;">
            <button class="btn btn-primary me-md-2" (click)="Back()" type="button"  style="width: 3.5cm;"><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{"BTN_BACK" | translate}}</button>
            <button class="btn btn-primary" (click)="Next()" style="width: 3.5cm;">{{"BTN_NEXT" | translate}}   <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
