<div *ngIf="menu_type =='menu'">
  <div [ngClass]="{'completedExperiment':completedExperiment==true}">
    <p-steps [model]="items" styleClass="customStepper"></p-steps>
  </div>
  <div *ngIf="completedExperiment==true && change_language ==
   true "
    [ngClass]="{'completedExperiment':completedExperiment==false}"
    style="position: relative; top: -30px;left: -20px;">
    <p-steps [model]="completedSteps"
      styleClass="completedStepper"
      [readonly]="false"></p-steps>
  </div>

  <div *ngIf="completedExperiment==true &&
   change_language==false"
    style="position: relative; top: -30px;left: -40px;">
    <p-steps [model]="completedStepSpanish"
      styleClass="completedStepper"
      [readonly]="false"></p-steps>
  </div>

      <p class="step-title-mgs">{{"STEP_06_1" | translate}}</p>

      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-home" role="tabpanel"
          aria-labelledby="v-pills-home-tab"></div>
        <div class="tab-pane fade show active" id="v-pills-products"
          role="tabpanel"
          aria-labelledby="v-pills-products-tab">

          <div class="p-3">
            <div>
              <div>
                <app-card>
                  <content>
                    <mat-form-field appearance="standard">
                      <mat-label><i class="fa fa-search" aria-hidden="true"></i>
                        {{"WORD_FILTER" | translate}}</mat-label>
                      <input matInput (keyup)="applyFilter($event)"
                        placeholder='{{"SEARCH_MSG" | translate}}' #input>
                    </mat-form-field>

                    <div class="row container-fluid letter"
                      style="margin-top: -50px;"
                      [ngClass]="{'hideoptions':experimentOwner== false}">
                      <div class="col">
                        <ul class="nav justify-content-end">
                          <button type="button" class="btn btn-info mx-1"
                            (click)="openArtifactUploadModal()"
                            data-bs-toggle="modal"
                            data-bs-target="#artifactCreateModal">{{
                            "ARTIFACT_UPLOAD" |
                            translate }}
                            <i class="fa fa-cloud-upload"></i>
                          </button>
                          <app-acm-artifacts-create
                            [experiment_id]="experiment_id"
                            #appArtifactCreate (saveModal)="getArtifacts()">
                          </app-acm-artifacts-create>
                        </ul>
                      </div>
                    </div>
                    <br>

                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>{{"WORD_NAME" |
                            translate}}</th>
                          <td mat-cell *matCellDef="let artifact">
                            {{ChangeName(artifact.name)}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="content">
                          <th mat-header-cell *matHeaderCellDef>{{"WORD_CONTENT"
                            |
                            translate}}</th>
                          <td mat-cell *matCellDef="let artifact">
                            {{artifact.file_content}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef>{{"WORD_DATE"|
                            translate}}</th>
                          <td mat-cell *matCellDef="let artifact">
                            {{changeDate(artifact.createdAt) }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                          <th mat-header-cell *matHeaderCellDef></th>
                          <td mat-cell *matCellDef="let artifact">
                            <button
                              type="button"
                              tooltip="{{'WORD_DELETE' | translate}}"
                              class="btn btn-danger mx-1"
                              *ngIf="experimentOwner==true"
                              (click)="deleteArtifactConfirm(artifact)"> <i
                                class="fa
                              fa-trash"></i></button>

                            <button
                              type="button"
                              tooltip="{{'WORD_UPDATE' | translate}}"
                              class="btn btn-warning mx-1"
                              (click)="updateArtifact(artifact)"
                              *ngIf="experimentOwner==true"
                              data-bs-toggle="modal"
                              data-bs-target="#artifactCreateModal"> <i
                                class="fa
                              fa-pencil"></i></button>

                            <button
                              type="button"
                              tooltip="{{'WORD_DOWNLOAD' | translate}}"
                              class="btn btn-primary mx-1"
                              (click)="onDown(true,artifact)"> <i class="fa
                              fa-download"></i></button>
                          </td>

                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns:
                        displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">{{"NO_DATA_FOUND" |
                            translate}}</td>
                        </tr>

                      </table>

                      <mat-paginator [pageSizeOptions]="[2,4,5,8,10]"
                        showFirstLastButtons>
                      </mat-paginator>
                    </div>
                  </content>
                </app-card>

              </div>
            </div>

            <div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end"
                style="position: relative;top:-0.4cm; left: -10px; "
                *ngIf="completedExperiment==false">
                <button class="btn btn-primary me-md-2" (click)="Back()"
                  type="button" style="width: 3.5cm;"><i
                    class="fa fa-angle-double-left" aria-hidden="true"></i> {{"BTN_BACK"
                  | translate}}</button>
                <button class="btn btn-primary" (click)="Next()"
                  style="width: 3.5cm;">{{"BTN_NEXT" | translate}} <i
                    class="fa fa-angle-double-right" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

<div class="modal fade" id="badgeModal" tabindex="-1"
  aria-labelledby="badgeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="badgeModalLabel"
          style="color: black;">{{"TITLE_BADGE" |
          translate}}</h5>

        <button type="button" class="btn btn-primary"
        data-bs-toggle="modal" data-bs-target="#helpMenu">{{"ICON_HELP" |
          translate}}</button>

      </div>
      <div class="modal-body">
        <div *ngIf="change_language== false">
          <select id="idbadge" #idbadge style="height:0.8cm;"
            (change)="showSelectedBadge()">
            <option value="{{0}}">Todas</option>
            <option *ngFor="let badge of badges" value="{{badge._id}}">{{badge.name}}</option>
          </select>
        </div>
        <div *ngIf="change_language== true">
          <select id="idbadge" #idbadge style="height:0.8cm;"
            (change)="showSelectedBadge()">
            <option value="{{0}}">Select one</option>
            <option *ngFor="let badge of badges" value="{{badge._id}}">{{badge.eng_name}}</option>
          </select>
        </div>

        <div style="width:20%;">
          <table class="table" style="border-color: white;">
            <thead style="border-color: white;">
              <tr style="border-color: white;">
                <th scope="col" style="border-color: white;"></th>
                <th scope="col" style="border-color: white;"></th>
              </tr>
            </thead>
            <tbody style="border-color: white;">
              <tr *ngFor="let badge of selectedbadge">
                <td *ngIf="change_language== false"><div>
                    <img src="{{badge.image}}" alt srcset width="60" height="60">
                  </div></td>
                <td *ngIf="change_language== true">
                  <div>
                    <img src="{{badge.image}}" alt srcset width="60" height="60">
                  </div>
                </td>

              </tr>
            </tbody>
          </table>

          <div style="margin-top: -30px;">
            <textarea cols="100" disabled
              style="border: 0; border-color: transparent;">{{description}}</textarea>
            <br>
            <textarea rows="8" cols="100" disabled
              style="border: 0; border-color: transparent;">{{instruction}}</textarea>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"WORD_CLOSE"
          | translate}}</button>
        <button type="button" class="btn btn-primary">{{"WORD_SAVE" |
          translate}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="helpMenu" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"
          style="color: black;"><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>{{"ICON_HELP" | translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </symbol>
          <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </symbol>
          <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </symbol>
        </svg>

        <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
          <div>
            {{"HELP_MSG" | translate}}
          </div>
        </div>
        <br>
        <a
          href="https://www.acm.org/publications/policies/artifact-review-badging"
          target="_blank" rel="noopener noreferrer"
          class="btn btn-info" style="width: 5cm; text-align: center;">ACM Badges</a>
        <br>
        <br>
        <a
          href="https://conf.researchr.org/track/CC-2022/CC-2022-research-artifacts"
          target="_blank" rel="noopener noreferrer"
          class="btn btn-success" style="width: 5cm;
          text-align: center;">CC 2022</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"WORD_CLOSE"
          | translate}}</button>
      </div>
    </div>
  </div>
</div>