.example-card {
    max-width: 450px;
    min-width: 100px;
  }


  img {
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;

  }

  swiper {
    margin: 10px;
    max-width: 190em;
  }
