<!-- <button type="button" class="btn btn-warning me-1" (click)="getMainCategories()" data-bs-toggle="modal" data-bs-target="#exampleModal1">
    <i class="fa fa-edit"></i>
</button> -->

trabajando en elloo..

<!-- Modal -->
<!-- <div class="modal fade letter" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <b>Editar Categoría</b>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col mx-auto  fadeInDown">
                        <div class="submit-form">
                            <div>
                                <div class="form-group">
                                    <label for="mainCategory">Área</label>
                                    <select [(ngModel)]="currentCategory.main_category_id" class="form-control">
                                        <option *ngFor="let mainCategory of mainCategories"
                                            [value]="mainCategory.main_category_id">
                                            {{mainCategory.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="title">Nombre</label>
                                    <input type="text" class="form-control" id="name" name="name" required
                                        [(ngModel)]="currentCategory.name" />
                                </div>

                                <div class="form-group mt-3">
                                    <label for="banner">Descripción</label>
                                    <textarea class="form-control" id="description" name="description"
                                        [(ngModel)]="currentCategory.description"></textarea>
                                </div>




                                <button class="btn btn-warning mt-3" (click)="updateCategory()">Actualizar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->