<div class="contact1">
  <div class="container-contact1">
    <div class="contact1-pic js-tilt" data-tilt>
<a href="/">
  <i class="fa fa-arrow-left icon-back-login fa-3x" aria-hidden="true"
  tooltip="{{'BACK_LOGIN' | translate}}"></i>
</a>

        <div style="text-align: center;">
          <h6 class="h6-responsive font-weight-bold text-uppercase">UTN</h6>
          <a href="https://www.utn.edu.ec/" target="_blank" >
            <img src="../../../../assets/images/logoutn.png" class="" alt="Universidad Técnica del Norte" height="75px" width="75px"
            style="border: 2px solid black; border-radius: 100%;"></a>
          <p style="white-space: pre-wrap;">
         {{"WORD_COLLEGE" | translate }}
          </p>
        </div>
       <br>
        <div style="text-align: center;">
          <h6 class="h6-responsive font-weight-bold  text-uppercase" >{{"GROUP" | translate}}</h6>
          <div>
            <a href="https://www.isa.us.es/" target="_blank" >
              <img src="../../../../assets/images/grupoISA-logo.svg" alt="Grupo ISA" height="75px" width="75px"></a>
            <p>
              {{"INSTITUTION" | translate}}
            </p>
          </div>
        </div>
        <br>
        <div style="text-align: center;">
          <h6 class="text-uppercase h6-responsive font-weight-bold text-center">{{"CONTACT" | translate}}</h6>
          <ul class="list-inline mx-auto justify-content-center" >
            <li><a class="list-inline-item text-muted text-decoration-none" href="#!">Cathy Guevara </a></li>
            <li><a class="list-inline-item text-muted text-decoration-none" href="tel:+593 98 831 3052"> +593-98-831-3052 </a></li>
            <li><a  class="list-inline-item text-muted text-decoration-none" href="mailto:cguevara@utn.edu.ec"> cguevara@utn.edu.ec </a></li>
          </ul>
        </div>
    </div>

    <form class="contact1-form validate-form"
    name="contact-form" method="POST" data-netlify="true">
      <div style="text-align: end;position: relative; left: 100px; top: -30px;">
        <app-navbar></app-navbar>
    </div>
      <span class="contact1-form-title">
       {{"GET_IN_TOUCH" | translate}}
      </span>
      <div class="container-contact1-form-btn">
         <img src="../../../../assets/images/badgeGo-icon.svg" alt="" srcset=""
         width="350" height="250">
      </div>
      <br>
      <div style="text-align: center;">

        <h6 class="text-uppercase h6-responsive font-weight-bold text-center">{{"SOCIAL_NETWORKS" | translate}}</h6>

        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="https://twitter.com/ISAGroupSevilla" target="_blank" role="button"><i class="fab fa-twitter fa { font-style: normal;}  icon"></i></a>

        <!--youtube-->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="https://www.youtube.com/channel/UC5L2OdKW7G5g-fgiqAczvUw" target="_blank" role="button"><i class="fa-brands fa-youtube fa { font-style: normal;} icon"></i></a>
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/isa-group" target="_blank" role="button"><i class="fab fa-github fa { font-style: normal;} icon"></i></a>

    </div>
    </form>




</div>
<!--===============================================================================================-->






<!-- Footer -->

