h6{
  color: rgba(0,0,0,1);
  font-size: 14px;
}


footer{
  bottom: 0;
  width: 100%;
}

.bg-light {
  background-color: #fff !important;
}

/*
footer{
  bottom: 0;
  width: 100%;

}
*/
  /*

   *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   .footer {
     padding: 1em 0 0 0;
     position: absolute;
     width: 100%;
     text-align: center;
     background-color:#1D272E;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: rgba(255, 255, 255, 1);
   }

   .classlistacontactos li a {
     text-decoration: none;
   }
   .classlistacontactos h6 {
     background-color: red;
   }

   .classlistacontactos li {
     list-style-type: none;
     border:none;
   }
   */
